nodered/data/flows.json
[
    {
        "id": "3fc4c5f12c75a924",
        "type": "tab",
        "label": "Aedes",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "06f1f8169210d459",
        "type": "tab",
        "label": "MQTT Client",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd14a179316b9057",
        "type": "tab",
        "label": "EMQX",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da70bb24b2881dca",
        "type": "tab",
        "label": "Semantic Analytics Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "http_trigger_subflow",
        "type": "subflow",
        "name": "Trigger RML Mapper",
        "info": "Sendet Packet an Trigger Server",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "build_url"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 520,
                "y": 80,
                "wires": [
                    {
                        "id": "http_request",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "broker1",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "host.docker.internal",
        "port": "1883",
        "clientid": "Client 1",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "15",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "birth",
        "birthQos": "2",
        "birthRetain": "true",
        "birthPayload": "birth message",
        "birthMsg": {
            "contentType": "text/plain"
        },
        "closeTopic": "close",
        "closeQos": "2",
        "closeRetain": "true",
        "closePayload": "close message",
        "closeMsg": {
            "contentType": "text/plain"
        },
        "willTopic": "will",
        "willQos": "2",
        "willRetain": "true",
        "willPayload": "will message",
        "willMsg": {
            "contentType": "text/plain",
            "delay": "60"
        },
        "userProps": "",
        "sessionExpiry": "10"
    },
    {
        "id": "ui_base_main",
        "type": "ui-base",
        "name": "MQTT2RDF Semantic Analytics Framework",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-control",
            "ui-notification"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 5,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "ui_theme_main",
        "type": "ui-theme",
        "name": "MQTT4SSN Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#f3f4f6",
            "groupBg": "#ffffff",
            "groupOutline": "#d1d5db"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "8px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "ui_page_main",
        "type": "ui-page",
        "name": "Semantic Analytics Dashboard",
        "ui": "ui_base_main",
        "path": "/mqtt2dash",
        "icon": "graph-outline",
        "layout": "grid",
        "theme": "ui_theme_main",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": "false"
    },
    {
        "id": "group_70ac722f",
        "type": "ui-group",
        "name": "Message content analytics",
        "page": "ui_page_main",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "group_4e7a34ac",
        "type": "ui-group",
        "name": "Semantic topic naming analytics",
        "page": "ui_page_main",
        "width": "12",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "group_098ddc74",
        "type": "ui-group",
        "name": "Transport diagnostics analytics",
        "page": "ui_page_main",
        "width": "12",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "build_url",
        "type": "function",
        "z": "http_trigger_subflow",
        "name": "Build URL",
        "func": "// erwartet msg.packet z.B. 'connect'\nmsg.method = \"POST\";\nmsg.url = `http://rmlmapper:8080/map/${msg.packet}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "http_request"
            ]
        ]
    },
    {
        "id": "http_request",
        "type": "http request",
        "z": "http_trigger_subflow",
        "name": "Call Trigger Server",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1950206633b62a22",
        "type": "aedes broker",
        "z": "3fc4c5f12c75a924",
        "name": "",
        "mqtt_port": "1884",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 190,
        "y": 300,
        "wires": [
            [
                "09f53df8f4e68a1b",
                "982316a40f25bb7c"
            ],
            [
                "e2d9723fa945c0c8",
                "019f65584d3fba98"
            ]
        ]
    },
    {
        "id": "09f53df8f4e68a1b",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "Aedes events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 260,
        "wires": []
    },
    {
        "id": "e2d9723fa945c0c8",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "Aedes publish",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 560,
        "wires": []
    },
    {
        "id": "982316a40f25bb7c",
        "type": "switch",
        "z": "3fc4c5f12c75a924",
        "name": "MQTT packet type",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "client",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "clientReady",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "unsubscribe",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "clientDisconnect",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "139ea716302bb409"
            ],
            [
                "e85971089b681a76"
            ],
            [
                "1989cc2123e89617"
            ],
            [
                "0644a78e5b83ae86"
            ],
            [
                "467d84d74ee0f7d1"
            ]
        ]
    },
    {
        "id": "dfd50f42bb9aaac8",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "CONNECT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "622d41e52cb2442d",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "CONNACK",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "e85971089b681a76",
        "type": "function",
        "z": "3fc4c5f12c75a924",
        "name": "CONNACK",
        "func": "let p = msg.payload;   \nlet c = msg.payload.client;\nlet vh = p && p.connack ? p.connack : {};         \nlet props = vh.properties || {};       \n\nmsg = {};\n\nmsg.payload = {\n    timestamp: Date.now(),\n    path: \"/data/share/in/connack.json\" ,\n    \n    network: {\n        connection: String(c.conn) ?? null ,\n        tls: null,\n\n        broker: {\n            brokerID: c.broker.id  ?? null ,\n            hostAddress: null,\n            portNumber: null\n        },\n\n        client: {\n            clientID: c.id ?? null ,\n        }\n    },\n\n    connackPacket: {\n        fixedHeader: {\n            controlPacketType: \"CONNACK\",\n            reserved: null,\n            remainingLength: c?._parser?.settings?.length ?? null \n        },\n\n        variableHeader: {\n            connackFlags: {\n                reserved: null,\n                sessionPresent: null\n            },\n\n            connackReasonCode: null,\n\n            connackProperties: {\n                propertyLength: null,\n                sessionExpiryInterval: null,\n                receiveMaximum: null,\n                maximumQoS: null,\n                retainAvailable: null,\n                maximumPacketSize: null,\n                assignedClientIdentifier: null,\n                topicAliasMaximum: null,\n                reasonString: null,\n                userProperty: null,\n                wildcardSubscriptionAvailable: null,\n                subscriptionIdentifierAvailable: null,\n                sharedSubscriptionAvailable: null,\n                serverKeepAlive: null,\n                responseInformation: null,\n                serverReference: null,\n                authenticationMethod: null,\n                authenticationData: null\n            }\n        },\n\n        payload: {\n            // no payload\n        }\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 220,
        "wires": [
            [
                "622d41e52cb2442d",
                "7159fbf0cdd0cfb4"
            ]
        ]
    },
    {
        "id": "137ca8f2ac2f1fcf",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "UNSUBSCRIBE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 480,
        "wires": []
    },
    {
        "id": "032467bc8b5ad658",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "DISCONNECT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "cb0be866dc859590",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "SUBSCRIBE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "1989cc2123e89617",
        "type": "function",
        "z": "3fc4c5f12c75a924",
        "name": "SUBSCRIBE",
        "func": "let pkt = msg.payload || {};\nlet c = msg.payload.client;\nlet props = pkt.properties || {};\n\nmsg = {};\n\nmsg.payload = {\n    timestamp: Date.now(),\n    path: \"/data/share/in/subscribe.json\" ,\n\n    network: {\n        connection: String(c.conn) ?? null,\n        tls: null ,\n        \n        broker: {\n            brokerID: c.broker.id ?? null,\n            hostAddress: null ,\n            portNumber: null\n        } ,\n        \n        client: {\n            clientID: c.id ?? null,\n        }\n    } ,\n\n    subscribePacket: {\n        fixedHeader: {\n            controlPacketType: \"SUBSCRIBE\",\n            reserved: null,\n            remainingLength: c._parser.settings.length ?? null \n        },\n\n        variableHeader: {\n            packetIdentifier: c._nextId ?? null,\n\n            subscribeProperties: {\n                propertyLength: props.propertyLength ?? null,\n                subscriptionIdentifier: props.subscriptionIdentifier ?? null,\n                userProperty: props.userProperties ?? null\n            }\n        },\n\n        payload: {\n            topicFilter: null,\n            subscriptionOption: {\n                qos: null ,\n                noLocal: null ,\n                retainAsPublished: null ,\n                retainHandling: null ,\n                reserved: null\n            }\n        }\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 320,
        "wires": [
            [
                "cb0be866dc859590",
                "7159fbf0cdd0cfb4"
            ]
        ]
    },
    {
        "id": "467d84d74ee0f7d1",
        "type": "function",
        "z": "3fc4c5f12c75a924",
        "name": "DISCONNECT",
        "func": "let c = msg.payload.client;\n\nmsg = {};\n\nmsg.payload = {\n    timestamp: Date.now(),\n    path: \"/data/share/in/disconnect.json\" ,\n\n    network: {\n        connection: String(c.conn) ?? null,\n        tls: null ,\n        \n        broker: {\n            brokerID: c.broker.id ?? null ,\n            hostAddress: null ,\n            portNumber: null\n        } ,\n        \n        client: {\n            clientID: c.id ?? null ,\n        }\n    } ,\n\n    disconnectPacket: {\n        fixedHeader: {\n            controlPacketType: \"DISCONNECT\",\n            reserved: null,\n            remainingLength: null\n        },\n\n        variableHeader: {\n            disconnectReasonCode: null,\n\n            disconnectProperties: {\n                propertyLength: null,\n                sessionExpiryInterval: null,\n                reasonString: null,\n                userProperty: null,\n                serverReference: null\n            }\n        },\n\n        payload: {\n            // no payload\n        }\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 520,
        "wires": [
            [
                "032467bc8b5ad658",
                "7159fbf0cdd0cfb4"
            ]
        ]
    },
    {
        "id": "0644a78e5b83ae86",
        "type": "function",
        "z": "3fc4c5f12c75a924",
        "name": "UNSUBSCRIBE",
        "func": "let pkt = msg.payload || {};\nlet c = msg.payload.client;\n\nmsg = {};\n\nmsg.payload = {\n    timestamp: Date.now(),\n    path: \"/data/share/in/unsubscribe.json\" ,\n\n    network: {\n        connection: String(c.conn) ?? null,\n        tls: null ,\n        \n        broker: {\n            brokerID: c.broker.id ?? null,\n            hostAddress: null ,\n            portNumber: null\n        } ,\n        \n        client: {\n            clientID: c.id ?? null,\n        }\n    } ,\n\n    unsubscribePacket: {\n        fixedHeader: {\n            controlPacketType: \"UNSUBSCRIBE\",\n            reserved: null,\n            remainingLength: pkt.length ?? null\n        },\n\n        variableHeader: {\n            packetIdentifier: null,\n            unsubscribeProperties: {\n                propertyLength: null,\n                userProperty: null\n            }\n        },\n\n        payload: {\n            topicFilter: null\n        }\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 420,
        "wires": [
            [
                "137ca8f2ac2f1fcf",
                "7159fbf0cdd0cfb4"
            ]
        ]
    },
    {
        "id": "04e3c114c781cab2",
        "type": "function",
        "z": "3fc4c5f12c75a924",
        "name": "PUBLISH",
        "func": "let c = msg.payload.client;\n\nreturn {\n    timestamp: Date.now(),\n    path: \"/data/share/in/publish.json\" ,\n\n    network: {\n        connection: String(c.conn) ?? null,\n        tls: null ,\n        \n        broker: {\n            brokerID: c.broker.id ?? null,\n            hostAddress: null ,\n            portNumber: null\n        } ,\n        \n        client: {\n            clientID: c.id ?? null,\n        }\n    } ,\n\n    publishPacket: {\n        fixedHeader: {\n            controlPacketType: \"PUBLISH\" ,\n            flags: {\n                dup: msg.payload.packet.dup ?? null,\n                qos: msg.payload.packet.qos ?? null,\n                retain: msg.payload.packet.retain ?? null\n            },\n            remainingLength: msg.payload.packet.length ?? null \n        },\n\n        variableHeader: {\n            topicName: msg.payload.packet.topic ?? null ,\n            packetIdentifier: msg.payload.client._nextId ?? null,\n\n            publishProperties: {\n                propertyLength: null,\n                payloadFormatIndicator: null,\n                messageExpiryInterval: null,\n                topicAlias: null,\n                responseTopic: null,\n                correlationData: null,\n                userProperty: null,\n                subscriptionIdentifier: null,\n                contentType: null\n            }\n        },\n\n        payload: {\n            data: msg.payload.packet.payload ?? null \n        }\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 620,
        "wires": [
            [
                "3091c529ca4c663e"
            ]
        ]
    },
    {
        "id": "34aa53be11793740",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "PUBLISH",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 680,
        "wires": []
    },
    {
        "id": "882842e53bee6342",
        "type": "function",
        "z": "3fc4c5f12c75a924",
        "name": "PUBACK",
        "func": "let pkt = msg.payload || {};\nlet props = pkt.properties || {};\n\nreturn {\n    timestamp: Date.now(),\n    id: msg._msgid,\n\n    pubackPacket: {\n        fixedHeader: {\n            controlPacketType: \"puback\",\n            remainingLength: pkt.length || null\n        },\n\n        variableHeader: {\n            packetIdentifier: pkt.messageId ?? null,\n            reasonCode: pkt.reasonCode ?? null,\n\n            pubackProperties: {\n                reasonString: props.reasonString ?? null,\n                userProperty: props.userProperties ?? null\n            }\n        }\n    }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 720,
        "wires": [
            [
                "6739084ad12d68b3"
            ]
        ]
    },
    {
        "id": "6739084ad12d68b3",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "PUBACK",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 780,
        "wires": []
    },
    {
        "id": "ed71a8346f4763a4",
        "type": "function",
        "z": "3fc4c5f12c75a924",
        "name": "PUBREC",
        "func": "let pkt = msg.payload || {};\nlet props = pkt.properties || {};\n\nreturn {\n    timestamp: Date.now(),\n    id: msg._msgid,\n\n    pubrecPacket: {\n        fixedHeader: {\n            controlPacketType: \"pubrec\",\n            remainingLength: pkt.length || null\n        },\n\n        variableHeader: {\n            packetIdentifier: pkt.messageId ?? null,\n            reasonCode: pkt.reasonCode ?? null,\n\n            pubrecProperties: {\n                reasonString: props.reasonString ?? null,\n                userProperty: props.userProperties ?? null\n            }\n        }\n    }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 820,
        "wires": [
            [
                "e72e21e17a8b544a"
            ]
        ]
    },
    {
        "id": "e72e21e17a8b544a",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "PUBREC",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 880,
        "wires": []
    },
    {
        "id": "25a7b1dde01affaa",
        "type": "function",
        "z": "3fc4c5f12c75a924",
        "name": "PUBREL",
        "func": "let pkt = msg.payload || {};\nlet props = pkt.properties || {};\n\nreturn {\n    timestamp: Date.now(),\n    id: msg._msgid,\n\n    pubrelPacket: {\n        fixedHeader: {\n            controlPacketType: \"pubrel\",\n            remainingLength: pkt.length || null\n        },\n\n        variableHeader: {\n            packetIdentifier: pkt.messageId ?? null,\n            reasonCode: pkt.reasonCode ?? null,\n\n            pubrelProperties: {\n                reasonString: props.reasonString ?? null,\n                userProperty: props.userProperties ?? null\n            }\n        }\n    }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 920,
        "wires": [
            [
                "ede37a0b7cfa0b27"
            ]
        ]
    },
    {
        "id": "ede37a0b7cfa0b27",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "PUBREL",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 980,
        "wires": []
    },
    {
        "id": "9c6c2951a1da7882",
        "type": "function",
        "z": "3fc4c5f12c75a924",
        "name": "PUBCOMP",
        "func": "let pkt = msg.payload || {};\nlet props = pkt.properties || {};\n\nreturn {\n    timestamp: Date.now(),\n    id: msg._msgid,\n\n    pubcompPacket: {\n        fixedHeader: {\n            controlPacketType: \"pubcomp\",\n            remainingLength: pkt.length || null\n        },\n\n        variableHeader: {\n            packetIdentifier: pkt.messageId ?? null,\n            reasonCode: pkt.reasonCode ?? null,\n\n            pubcompProperties: {\n                reasonString: props.reasonString ?? null,\n                userProperty: props.userProperties ?? null\n            }\n        }\n    }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1020,
        "wires": [
            [
                "85c30642004ffa22"
            ]
        ]
    },
    {
        "id": "85c30642004ffa22",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "PUBCOMP",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 1080,
        "wires": []
    },
    {
        "id": "cc1df33c3d8875bd",
        "type": "function",
        "z": "3fc4c5f12c75a924",
        "name": "PINGREQ",
        "func": "return {\n    timestamp: Date.now(),\n    id: msg._msgid,\n\n    pingreqPacket: {\n        fixedHeader: {\n            controlPacketType: \"pingreq\",\n            remainingLength: 0\n        },\n        variableHeader: {},\n        payload: {}\n    }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1120,
        "wires": [
            [
                "1ac712535fc36e43"
            ]
        ]
    },
    {
        "id": "1ac712535fc36e43",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "PINGREQ",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 1180,
        "wires": []
    },
    {
        "id": "125707f5f3b72474",
        "type": "function",
        "z": "3fc4c5f12c75a924",
        "name": "PINGRESP",
        "func": "return {\n    timestamp: Date.now(),\n    id: msg._msgid,\n\n    pingrespPacket: {\n        fixedHeader: {\n            controlPacketType: \"pingresp\",\n            remainingLength: 0\n        },\n        variableHeader: {},\n        payload: {}\n    }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1220,
        "wires": [
            [
                "ca2a67da524fc862"
            ]
        ]
    },
    {
        "id": "ca2a67da524fc862",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "PINGRESP",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 1280,
        "wires": []
    },
    {
        "id": "4bec732990fae412",
        "type": "function",
        "z": "3fc4c5f12c75a924",
        "name": "AUTH",
        "func": "let pkt = msg.payload || {};\nlet props = pkt.properties || {};\n\nreturn {\n    timestamp: Date.now(),\n    id: msg._msgid,\n\n    authPacket: {\n        fixedHeader: {\n            controlPacketType: \"auth\",\n            remainingLength: pkt.length || null\n        },\n\n        variableHeader: {\n            reasonCode: pkt.reasonCode ?? null,\n\n            authProperties: {\n                authenticationMethod: props.authenticationMethod ?? null,\n                authenticationData: props.authenticationData ?? null,\n                reasonString: props.reasonString ?? null,\n                userProperty: props.userProperties ?? null\n            }\n        },\n\n        payload: { }\n    }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1320,
        "wires": [
            [
                "ec2b510ab996e258"
            ]
        ]
    },
    {
        "id": "ec2b510ab996e258",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "AUTH",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1380,
        "wires": []
    },
    {
        "id": "417398810327ac32",
        "type": "function",
        "z": "3fc4c5f12c75a924",
        "name": "SUBACK",
        "func": "let pkt = msg.payload || {};\nlet props = pkt.properties || {};\n\nreturn {\n    timestamp: Date.now(),\n    id: msg._msgid,\n\n    subackPacket: {\n        fixedHeader: {\n            controlPacketType: \"suback\",\n            remainingLength: pkt.length || null\n        },\n\n        variableHeader: {\n            packetIdentifier: pkt.messageId ?? null,\n\n            subackProperties: {\n                propertyLength: props.propertyLength ?? null,\n                reasonString: props.reasonString ?? null,\n                userProperty: props.userProperties ?? null\n            }\n        },\n\n        payload: {\n            reasonCodes: pkt.granted || []     // array of reason codes\n        }\n    }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1420,
        "wires": [
            [
                "cc4176585e08789e"
            ]
        ]
    },
    {
        "id": "cc4176585e08789e",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "SUBACK",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1480,
        "wires": []
    },
    {
        "id": "3487919006c1103d",
        "type": "function",
        "z": "3fc4c5f12c75a924",
        "name": "UNSUBACK",
        "func": "let pkt = msg.payload || {};\nlet props = pkt.properties || {};\n\nreturn {\n    timestamp: Date.now(),\n    id: msg._msgid,\n\n    unsubackPacket: {\n        fixedHeader: {\n            controlPacketType: \"unsuback\",\n            remainingLength: pkt.length || null\n        },\n\n        variableHeader: {\n            packetIdentifier: pkt.messageId ?? null,\n\n            unsubackProperties: {\n                propertyLength: props.propertyLength ?? null,\n                reasonString: props.reasonString ?? null,\n                userProperty: props.userProperties ?? null\n            }\n        },\n\n        payload: {\n            reasonCodes: pkt.granted || []\n        }\n    }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1520,
        "wires": [
            [
                "1769f948bbb688ab"
            ]
        ]
    },
    {
        "id": "1769f948bbb688ab",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "UNSUBACK",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 1580,
        "wires": []
    },
    {
        "id": "019f65584d3fba98",
        "type": "switch",
        "z": "3fc4c5f12c75a924",
        "name": "MQTT packet type",
        "property": "payload.client",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 620,
        "wires": [
            [
                "04e3c114c781cab2"
            ]
        ]
    },
    {
        "id": "3091c529ca4c663e",
        "type": "function",
        "z": "3fc4c5f12c75a924",
        "name": "Set RAW payload",
        "func": "msg.payload = msg.publishPacket.payload.data ;\n\n// Ensure msg.raw is a plain string (handles Buffer/objects)\nif (typeof msg.payload === 'string') {\n  msg.publishPacket.payload.data = msg.payload;\n} else if (Buffer.isBuffer(msg.payload)) {\n  msg.publishPacket.payload.data = msg.payload.toString('utf8');\n} else {\n  msg.publishPacket.payload.data = JSON.stringify(msg.payload);\n}\n\nmsg.payload = msg.publishPacket.payload.data\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 620,
        "wires": [
            [
                "eae8553296a973e2"
            ]
        ]
    },
    {
        "id": "eae8553296a973e2",
        "type": "csv",
        "z": "3fc4c5f12c75a924",
        "name": "CSV→JSON",
        "spec": "rfc",
        "sep": ";",
        "hdrin": true,
        "hdrout": "all",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": true,
        "include_null_values": true,
        "x": 1150,
        "y": 620,
        "wires": [
            [
                "34aa53be11793740",
                "39c1192dc0e48996"
            ]
        ]
    },
    {
        "id": "7159fbf0cdd0cfb4",
        "type": "file",
        "z": "3fc4c5f12c75a924",
        "name": "Save JSON for RMLMapper",
        "filename": "payload.path",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 2000,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "139ea716302bb409",
        "type": "function",
        "z": "3fc4c5f12c75a924",
        "name": "CONNECT",
        "func": "let c = msg.payload.client;\nlet p = c ? c._parser : {};\n\nmsg = {};\n\nmsg.payload = {\n    timestamp: Date.now(),\n    path: \"/data/share/in/connect.json\" ,\n    \n    network: {\n        connection: String(c.conn) ?? null ,\n        tls: null ,\n        \n        broker: {\n            brokerID: c.broker.id  ?? null ,\n            hostAddress: null ,\n            portNumber: null\n        } ,\n        \n        client: {\n            clientID: c.id  ?? null ,\n        }\n    } ,\n\n    connectPacket: {\n        fixedHeader: {\n            controlPacketType: \"CONNECT\",\n            reserved: null,\n            remainingLength: p.settings?.length ?? null \n        },\n\n        variableHeader: {\n            protocolName: p.settings?.protocolId  ?? null ,\n            protocolVersion: p.settings?.protocolVersion  ?? null ,\n\n            connectFlags: {\n                userNameFlag:  !!p.settings?.username ?? null ,\n                passwordFlag:  !!p.settings?.password ?? null ,\n                willRetain:    p.settings?.will?.retain ?? null ,\n                willQoS:       p.settings?.will?.qos ?? null ,\n                willFlag:      !!p.settings?.will ?? null ,\n                cleanStart:    p.settings?.clean ?? null ,\n                reserved: null\n            },\n\n            keepAlive: p.settings?.keepalive ?? null ,\n\n            connectProperties: {\n                propertyLength:             null ,\n                sessionExpiryInterval:      null ,\n                receiveMaximum:             null ,\n                maximumPacketSize:          null ,\n                topicAliasMaximum:          null ,\n                requestResponseInformation: null ,\n                requestProblemInformation:  null ,\n                userProperty:               null ,\n                authenticationMethod:       null ,\n                authenticationData:         null \n            }\n        },\n\n        payload: {\n            clientID: c?.id ?? null ,\n\n            willProperties: {\n                propertyLength:            null ,\n                willDelayInterval:         null ,\n                payloadFormatIndicator:    null ,\n                messageExpiryInterval:     null ,\n                contentType:               null ,\n                responseTopic:             null ,\n                correlationData:           null ,\n                userProperty:              null \n            },\n\n            willTopic: null ,\n            willPayload:   null ,\n            userName:      null ,\n            password:      null \n        }\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 120,
        "wires": [
            [
                "dfd50f42bb9aaac8",
                "7159fbf0cdd0cfb4"
            ]
        ]
    },
    {
        "id": "39c1192dc0e48996",
        "type": "change",
        "z": "3fc4c5f12c75a924",
        "name": "Structure Observations + Meta",
        "rules": [
            {
                "t": "set",
                "p": "observationCollection",
                "pt": "msg",
                "to": "   payload.{\t   \"FeatureOfInterest\": RFID,\t   \"StartTime\": $string(Job_Start_ZS),\t   \"EndTime\": $string(Job_Ende_ZS),\t   \"Observation\": [\t       {\t           \"Property\":\"Griffpunkt_X\",\t           \"Result\":$string(Griffpunkt_X)\t           },\t       {\t           \"Property\":\"Griffpunkt_Y\",\t           \"Result\":$string(Griffpunkt_Y)\t           },\t       {\t           \"Property\":\"Griffpunkt_Z\",\t           \"Result\":$string(Griffpunkt_Z)\t           },\t       {\t           \"Property\":\"Korrekturwert_X\",\t           \"Result\":$string(Korrekturwert_X)\t           },\t       {\t           \"Property\":\"Korrekturwert_Y\",\t           \"Result\":$string(Korrekturwert_Y)\t           }\t  ]\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "columns",
                "pt": "msg",
                "to": "publishPacket.payload.encodedFields",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 620,
        "wires": [
            [
                "2d35bd1f6a7fc374",
                "b34946bc7cca1990"
            ]
        ]
    },
    {
        "id": "2d35bd1f6a7fc374",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "PUBLISH",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 680,
        "wires": []
    },
    {
        "id": "b34946bc7cca1990",
        "type": "function",
        "z": "3fc4c5f12c75a924",
        "name": "Payload JSON",
        "func": "const payload = msg;\nmsg = {};\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 620,
        "wires": [
            [
                "9f97d05b4999e604",
                "7159fbf0cdd0cfb4"
            ]
        ]
    },
    {
        "id": "9f97d05b4999e604",
        "type": "debug",
        "z": "3fc4c5f12c75a924",
        "name": "PUBLISH",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 680,
        "wires": []
    },
    {
        "id": "30c20abaf381657f",
        "type": "comment",
        "z": "3fc4c5f12c75a924",
        "name": "Adapt Data Type",
        "info": "",
        "x": 1160,
        "y": 560,
        "wires": []
    },
    {
        "id": "b4f08489aece20d8",
        "type": "comment",
        "z": "3fc4c5f12c75a924",
        "name": "Adapt Data Structure",
        "info": "",
        "x": 1460,
        "y": 560,
        "wires": []
    },
    {
        "id": "2821df5fc7740253",
        "type": "mqtt out",
        "z": "06f1f8169210d459",
        "d": true,
        "name": "Broker / QoS 2 / Retain 1 / CSV",
        "topic": "Test",
        "qos": "2",
        "retain": "true",
        "respTopic": "response/topic",
        "contentType": "text/csv",
        "userProps": "{\"payloadFormatIndicator\":true,\"delimiter\":\";\"}",
        "correl": " CorrelationData",
        "expiry": "22",
        "broker": "broker1",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "7cabd52ba8bfe2cf",
        "type": "inject",
        "z": "06f1f8169210d459",
        "name": "Simulate Client 1",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "3f639f062747f5b9"
            ]
        ]
    },
    {
        "id": "3f639f062747f5b9",
        "type": "template",
        "z": "06f1f8169210d459",
        "name": "CSV Payload",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "RFID;JobStart;JobEnd;GripPoint_X;GripPoint_Y;GripPoint_Z;Sensor;Actuator\nRFID_87A3F1;2025-12-03T09:15:02.120Z;2025-12-03T09:15:02.520Z;152.34;88.10;34.55;Sensor_37b;Actuator_20a\nRFID_87A3F2;2025-12-03T09:15:05.000Z;2025-12-03T09:15:05.410Z;151.90;87.95;34.60;Sensor_37b;Actuator_20a\nRFID_87A3F3;2025-12-03T09:15:08.210Z;2025-12-03T09:15:08.640Z;153.05;88.40;34.48;Sensor_37b;Actuator_20a",
        "output": "str",
        "x": 390,
        "y": 60,
        "wires": [
            [
                "2821df5fc7740253",
                "ef5229fd9af3bb25",
                "6afa3144331bca45",
                "1fbb18c0c058b5dc",
                "6fd1736003b1eb7d",
                "01d28c3d5c3881ae"
            ]
        ]
    },
    {
        "id": "6fd1736003b1eb7d",
        "type": "mqtt out",
        "z": "06f1f8169210d459",
        "d": true,
        "name": "Broker / QoS 0 / Retain 1 / CSV",
        "topic": "Test",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "text/csv",
        "userProps": "{\"payloadFormatIndicator\":true,\"delimiter\":\";\"}",
        "correl": "",
        "expiry": "",
        "broker": "broker1",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "1fbb18c0c058b5dc",
        "type": "mqtt out",
        "z": "06f1f8169210d459",
        "d": true,
        "name": "Broker / QoS 1 / Retain 1 / CSV",
        "topic": "Test",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "text/csv",
        "userProps": "{\"payloadFormatIndicator\":true,\"delimiter\":\";\"}",
        "correl": "",
        "expiry": "",
        "broker": "broker1",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "6afa3144331bca45",
        "type": "mqtt out",
        "z": "06f1f8169210d459",
        "d": true,
        "name": "Broker / QoS 1 / Retain 0 / CSV",
        "topic": "Test",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "text/csv",
        "userProps": "{\"payloadFormatIndicator\":true,\"delimiter\":\";\"}",
        "correl": "",
        "expiry": "",
        "broker": "broker1",
        "x": 970,
        "y": 200,
        "wires": []
    },
    {
        "id": "ef5229fd9af3bb25",
        "type": "mqtt out",
        "z": "06f1f8169210d459",
        "d": true,
        "name": "Broker / QoS 2 / Retain 0 / CSV",
        "topic": "Test",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "text/csv",
        "userProps": "{\"payloadFormatIndicator\":true,\"delimiter\":\";\"}",
        "correl": "",
        "expiry": "",
        "broker": "broker1",
        "x": 970,
        "y": 100,
        "wires": []
    },
    {
        "id": "01d28c3d5c3881ae",
        "type": "mqtt out",
        "z": "06f1f8169210d459",
        "d": true,
        "name": "Broker / QoS 0 / Retain 0 / CSV",
        "topic": "Test",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "text/csv",
        "userProps": "{\"payloadFormatIndicator\":true,\"delimiter\":\";\"}",
        "correl": "",
        "expiry": "",
        "broker": "broker1",
        "x": 970,
        "y": 320,
        "wires": []
    },
    {
        "id": "87810f29254d1299",
        "type": "inject",
        "z": "06f1f8169210d459",
        "name": "Simulate Client 1",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "720191d0d61f2231"
            ]
        ]
    },
    {
        "id": "720191d0d61f2231",
        "type": "template",
        "z": "06f1f8169210d459",
        "name": "CSV Payload",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "RFID;JobStart;JobEnd;GripPoint_X;GripPoint_Y;GripPoint_Z;Sensor;Actuator\nRFID_87A3F1;2025-12-03T09:15:02.120Z;2025-12-03T09:15:02.520Z;152.34;88.10;34.55;Sensor_37b;Actuator_20a\nRFID_87A3F2;2025-12-03T09:15:05.000Z;2025-12-03T09:15:05.410Z;151.90;87.95;34.60;Sensor_37b;Actuator_20a\nRFID_87A3F3;2025-12-03T09:15:08.210Z;2025-12-03T09:15:08.640Z;153.05;88.40;34.48;Sensor_37b;Actuator_20a",
        "output": "str",
        "x": 410,
        "y": 420,
        "wires": [
            [
                "0f0ad79860fd7080"
            ]
        ]
    },
    {
        "id": "cb688359e2a10c37",
        "type": "inject",
        "z": "06f1f8169210d459",
        "name": "Simulate Client 1",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 500,
        "wires": [
            [
                "55047bf24765447d"
            ]
        ]
    },
    {
        "id": "55047bf24765447d",
        "type": "template",
        "z": "06f1f8169210d459",
        "name": "CSV Payload",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "RFID;JobStart;JobEnd;Correction_X;Correction_Y;Correction_Z;Sensor;Actuator\nRFID_87A3F1;2025-12-03T09:15:02.120Z;2025-12-03T09:15:02.520Z;-0.44;-0.15;+0.10;Sensor1;Actuator1;Sensor_37b;Actuator_20a\nRFID_87A3F2;2025-12-03T09:15:05.000Z;2025-12-03T09:15:05.410Z;-0.10;-0.05;+0.60;Sensor1;Actuator1;Sensor_37b;Actuator_20a\nRFID_87A3F3;2025-12-03T09:15:08.210Z;2025-12-03T09:15:08.640Z;+0.65;+0.30;+0.15;Sensor1;Actuator1;Sensor_37b;Actuator_20a",
        "output": "str",
        "x": 410,
        "y": 500,
        "wires": [
            [
                "644869caea526090"
            ]
        ]
    },
    {
        "id": "0f0ad79860fd7080",
        "type": "mqtt out",
        "z": "06f1f8169210d459",
        "d": true,
        "name": "Broker / QoS 2 / Retain 1 / CSV",
        "topic": "sensor",
        "qos": "2",
        "retain": "true",
        "respTopic": "response/topic",
        "contentType": "text/csv",
        "userProps": "{\"payloadFormatIndicator\":true,\"delimiter\":\";\"}",
        "correl": " CorrelationData",
        "expiry": "22",
        "broker": "broker1",
        "x": 690,
        "y": 420,
        "wires": []
    },
    {
        "id": "644869caea526090",
        "type": "mqtt out",
        "z": "06f1f8169210d459",
        "d": true,
        "name": "Broker / QoS 2 / Retain 1 / CSV",
        "topic": "actuator",
        "qos": "2",
        "retain": "true",
        "respTopic": "response/topic",
        "contentType": "text/csv",
        "userProps": "{\"payloadFormatIndicator\":true,\"delimiter\":\";\"}",
        "correl": " CorrelationData",
        "expiry": "22",
        "broker": "broker1",
        "x": 690,
        "y": 500,
        "wires": []
    },
    {
        "id": "httpin",
        "type": "http in",
        "z": "bd14a179316b9057",
        "name": "EMQX Events In",
        "url": "/emqx/events",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 120,
        "wires": [
            [
                "97ca0ffd6457f6ec",
                "switch",
                "f57a30df8259c239"
            ]
        ]
    },
    {
        "id": "switch",
        "type": "switch",
        "z": "bd14a179316b9057",
        "name": "Control Packet Type",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "client.check_authn_complete",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "client.connected",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "client.disconnected",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "client.connack",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "client.check_authz_complete",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "session.subscribed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "session.unsubscribed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message.delivered",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message.acked",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "client.check_ping",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "client.keepalive",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message.publish",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message.dropped",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 13,
        "x": 360,
        "y": 480,
        "wires": [
            [],
            [
                "114bc3f73916dcd1"
            ],
            [
                "45399727dded0224"
            ],
            [
                "48c5fed0e5f300f5"
            ],
            [],
            [
                "89e98a4fbc452ae1"
            ],
            [
                "afd5fd5a62955b88"
            ],
            [
                "6e37994a9d321ff7"
            ],
            [],
            [],
            [],
            [
                "8ac2f9cfd573877d"
            ],
            []
        ]
    },
    {
        "id": "97ca0ffd6457f6ec",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "EMQX Events",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.event",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 180,
        "wires": []
    },
    {
        "id": "51e9b23a2a15a82d",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "CONNECT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "bc6a7b2e1556cd69",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "CONNACK",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "26899d9ca3f6cb28",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "UNSUBSCRIBE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "1864c5b39f56ba48",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "SUBSCRIBE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "89e98a4fbc452ae1",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "SUBSCRIBE",
        "func": "msg._payload = msg.payload ;\n\nconst [hostAddress, portNumber] = (msg.payload.sockname || \"\").split(\":\");\n\nmsg.payload = {\n    timestamp: msg.payload.timestamp,\n    path: \"/data/share/in/subscribe.json\" ,\n    \n    network: {\n        connection: String(msg.req.socket) ?? null ,\n        tls: null ,\n        httpVersion: msg.req.httpVersion ?? null ,\n        \n        broker: {\n            brokerID: msg.payload.node ?? null ,\n            hostAddress: hostAddress || null,\n            portNumber: portNumber || null\n        } ,\n        \n        client: {\n            clientID: msg.payload.clientid ?? null ,\n        }\n    } ,\n\n    subscribePacket: {\n        fixedHeader: {\n            controlPacketType: \"SUBSCRIBE\",\n            reserved: null,\n            remainingLength: msg.req.headers[\"content-length\"] ?? null \n        },\n\n        variableHeader: {\n            packetIdentifier: null,\n\n            subscribeProperties: {\n                propertyLength: null,\n                subscriptionIdentifier: msg.payload.sub_props[\"Subscription-Identifier\"] ?? null,\n                userProperty: msg.payload.sub_props[\"User-Property\"] ?? null\n            }\n        },\n\n        payload: {\n            topicFilter: msg.payload.topic ?? null,\n            subscriptionOption: {\n                qos: msg.payload.qos ?? null ,\n                noLocal: null ,\n                retainAsPublished: null ,\n                retainHandling: null ,\n                reserved: null\n            }\n        }\n    }\n};\n\nmsg.packet = \"subscribe\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 180,
        "wires": [
            [
                "1864c5b39f56ba48",
                "7b6555f934af74e8",
                "f2903667593944c3"
            ]
        ]
    },
    {
        "id": "45399727dded0224",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "DISCONNECT",
        "func": "msg._payload = msg.payload ;\n\nconst [hostAddress, portNumber] = (msg.payload.sockname || \"\").split(\":\");\n\nmsg.payload = {\n    timestamp: msg.payload.timestamp,\n    path: \"/data/share/in/disconnect.json\" ,\n    \n    network: {\n        connection: String(msg.req.socket) ?? null ,\n        tls: null ,\n        httpVersion: msg.req.httpVersion ?? null ,\n        \n        broker: {\n            brokerID: msg.payload.node ?? null ,\n            hostAddress: hostAddress || null,\n            portNumber: portNumber || null\n        } ,\n        \n        client: {\n            clientID: msg.payload.clientid ?? null ,\n        }\n    } ,\n\n    disconnectPacket: {\n        fixedHeader: {\n            controlPacketType: \"DISCONNECT\",\n            reserved: null,\n            remainingLength: msg.req.headers[\"content-length\"] ?? null\n        },\n\n        variableHeader: {\n            disconnectReasonCode: msg.req.body.reason ?? null,\n\n            disconnectProperties: {\n                propertyLength: null,\n                sessionExpiryInterval: null,\n                reasonString: null,\n                userProperty: null,\n                serverReference: null\n            }\n        },\n\n        payload: {\n            // no payload\n        }\n    }\n};\n\nmsg.packet = \"disconnect\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 300,
        "wires": [
            [
                "7b6555f934af74e8",
                "ab137d79f26f7d7a",
                "f2903667593944c3"
            ]
        ]
    },
    {
        "id": "afd5fd5a62955b88",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "UNSUBSCRIBE",
        "func": "msg._payload = msg.payload ;\n\nconst [hostAddress, portNumber] = (msg.payload.sockname || \"\").split(\":\");\n\nmsg.payload = {\n    timestamp: msg.payload.timestamp,\n    path: \"/data/share/in/unsubscribe.json\" ,\n    \n    network: {\n        connection: String(msg.req.socket) ?? null ,\n        tls: null ,\n        httpVersion: msg.req.httpVersion ?? null ,\n        \n        broker: {\n            brokerID: msg.payload.node ?? null ,\n            hostAddress: hostAddress || null,\n            portNumber: portNumber || null\n        } ,\n        \n        client: {\n            clientID: msg.payload.clientid ?? null ,\n        }\n    } ,\n\n    unsubscribePacket: {\n        fixedHeader: {\n            controlPacketType: \"UNSUBSCRIBE\",\n            reserved: null,\n            remainingLength: msg.req.headers[\"content-length\"] ?? null\n        },\n\n        variableHeader: {\n            packetIdentifier: null,\n            unsubscribeProperties: {\n                propertyLength: null,\n                userProperty: msg.payload.unsub_props[\"User-Property\"] ?? null\n            }\n        },\n\n        payload: {\n            topicFilter: msg.payload.topic ?? null\n        }\n    }\n};\n\nmsg.packet = \"unsubscribe\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 240,
        "wires": [
            [
                "26899d9ca3f6cb28",
                "7b6555f934af74e8",
                "f2903667593944c3"
            ]
        ]
    },
    {
        "id": "114bc3f73916dcd1",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "CONNECT",
        "func": "msg._payload = msg.payload ;\n\nconst [hostAddress, portNumber] = (msg.payload.sockname || \"\").split(\":\");\n\nmsg.payload = {\n    timestamp: msg.payload.timestamp,\n    path: \"/data/share/in/connect.json\" ,\n    \n    network: {\n        connection: String(msg.req.socket) ?? null ,\n        tls: null ,\n        httpVersion: msg.req.httpVersion ?? null ,\n        \n        broker: {\n            brokerID: msg.payload.node ?? null ,\n            hostAddress: hostAddress || null,\n            portNumber: portNumber || null\n        } ,\n        \n        client: {\n            clientID: msg.payload.clientid ?? null ,\n        }\n    } ,\n\n    connectPacket: {\n        fixedHeader: {\n            controlPacketType: \"CONNECT\",\n            reserved: null,\n            remainingLength: msg.req.headers[\"content-length\"] ?? null \n        },\n\n        variableHeader: {\n            protocolName: msg.payload.proto_name ?? null ,\n            protocolVersion: msg.payload.proto_ver  ?? null ,\n\n            connectFlags: {\n                userNameFlag:  null ,\n                passwordFlag:  null ,\n                willRetain:    null ,\n                willQoS:       null ,\n                willFlag:      null ,\n                cleanStart:    null ,\n                reserved: null\n            },\n\n            keepAlive: msg.payload.keepalive ?? null ,\n\n            connectProperties: {\n                propertyLength:             null ,\n                sessionExpiryInterval:      msg.payload.expiry_interval ?? null ,\n                receiveMaximum:             msg.payload.receive_maximum ?? null,\n                maximumPacketSize:          null ,\n                topicAliasMaximum:          null ,\n                requestResponseInformation: msg.payload.conn_props[\"Request-Problem-Information\"] ?? null ,\n                requestProblemInformation:  msg.payload.conn_props[\"Request-Response-Information\"] ??null ,\n                userProperty:               msg.payload.conn_props[\"User-Property\"] ?? null ,\n                authenticationMethod:       null ,\n                authenticationData:         null \n            }\n        },\n\n        payload: {\n            clientID: msg.payload.clientid ?? null ,\n\n            willProperties: {\n                propertyLength:            null ,\n                willDelayInterval:         null ,\n                payloadFormatIndicator:    null ,\n                messageExpiryInterval:     null ,\n                contentType:               msg.req.headers[\"content-type\"] ,\n                responseTopic:             null ,\n                correlationData:           null ,\n                userProperty:              null \n            },\n\n            willTopic: null ,\n            willPayload:   null ,\n            userName:      msg.payload.username ?? null ,\n            password:      null \n        }\n    }\n};\n\nmsg.packet = \"connect\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 60,
        "wires": [
            [
                "51e9b23a2a15a82d",
                "7b6555f934af74e8",
                "f2903667593944c3"
            ]
        ]
    },
    {
        "id": "0f440c1b7a716b18",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "PUBLISH",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 960,
        "wires": []
    },
    {
        "id": "0ef4533b4171c47d",
        "type": "csv",
        "z": "bd14a179316b9057",
        "name": "CSV→JSON",
        "spec": "rfc",
        "sep": ";",
        "hdrin": true,
        "hdrout": "all",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": true,
        "include_null_values": true,
        "x": 1050,
        "y": 900,
        "wires": [
            [
                "0f440c1b7a716b18",
                "502bd3fa7a5e7eec"
            ]
        ]
    },
    {
        "id": "acf21e36ccc21ad2",
        "type": "change",
        "z": "bd14a179316b9057",
        "name": "Structure Observations + Meta",
        "rules": [
            {
                "t": "set",
                "p": "observationCollection",
                "pt": "msg",
                "to": "   payload.{\t   \"FeatureOfInterest\": RFID,\t   \"StartTime\": $string(JobStart),\t   \"EndTime\": $string(JobEnd),\t   \"Sensor\":$string(Sensor),\t   \"Actor\": $string(Actuator),\t   \"Observation\": [\t       {\t           \"Property\":\"GripPoint_X\",\t           \"Result\":$string(GripPoint_X)\t           },\t       {\t           \"Property\":\"GripPoint_Y\",\t           \"Result\":$string(GripPoint_Y)\t           },\t       {\t           \"Property\":\"GripPoint_Z\",\t           \"Result\":$string(GripPoint_Z)\t           }\t  ]\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "columns",
                "pt": "msg",
                "to": "publishPacket.payload.encodedFields",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 980,
        "wires": [
            [
                "bc2907fa5df5f108",
                "9f0ce50f8e34950d"
            ]
        ]
    },
    {
        "id": "bc2907fa5df5f108",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "PUBLISH",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 900,
        "wires": []
    },
    {
        "id": "9f0ce50f8e34950d",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "Payload JSON",
        "func": "const payload = msg;\nmsg = {};\nmsg.payload = payload;\nmsg.packet = \"publish\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 720,
        "wires": [
            [
                "11d354b60abe9783",
                "7b6555f934af74e8",
                "f2903667593944c3"
            ]
        ]
    },
    {
        "id": "11d354b60abe9783",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "PUBLISH",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 720,
        "wires": []
    },
    {
        "id": "8ac2f9cfd573877d",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "PUBLISH",
        "func": "msg._payload = msg.payload ;\n\nconst [hostAddress, portNumber] = (msg.payload.sockname || \"\").split(\":\");\n\nreturn {\n    timestamp: msg.payload.timestamp,\n    path: \"/data/share/in/publish.json\" ,\n    \n    network: {\n        connection: String(msg.req.socket) ?? null ,\n        tls: null ,\n        httpVersion: msg.req.httpVersion ?? null ,\n        \n        broker: {\n            brokerID: msg.payload.node ?? null ,\n            hostAddress: hostAddress || null,\n            portNumber: portNumber || null\n        } ,\n        \n        client: {\n            clientID: msg.payload.clientid ?? null ,\n        }\n    } ,\n\n    publishPacket: {\n        fixedHeader: {\n            controlPacketType: \"PUBLISH\" ,\n            flags: {\n                dup: msg.payload.flags.dup ?? null,\n                qos: msg.payload.qos ?? null,\n                retain: msg.payload.flags.retain ?? null\n            },\n            remainingLength: msg.req.headers[\"content-length\"] ?? null \n        },\n\n        variableHeader: {\n            topicName: msg.payload.topic ?? null ,\n            packetIdentifier: null,\n\n            publishProperties: {\n                propertyLength: null,\n                payloadFormatIndicator: null,\n                messageExpiryInterval: null,\n                topicAlias: null,\n                responseTopic: null,\n                correlationData: null,\n                userProperty: Object.entries(msg.payload.pub_props?.[\"User-Property\"] ?? {})\n                .map(([name, value]) => ({\n                    name,\n                    value: String(value),\n                    timestamp: msg.payload.timestamp   // <-- mitgeben\n                })),\n                subscriptionIdentifier: null,\n                contentType: msg.req.body.pub_props[\"Content-Type\"] ?? null\n            }\n        },\n\n        payload: {\n            data: msg.payload.payload ?? null \n        }\n    }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 900,
        "wires": [
            [
                "9b5ec1fd22b2459b",
                "15e9879e5f204034"
            ]
        ]
    },
    {
        "id": "6d03c1ae2a020b73",
        "type": "comment",
        "z": "bd14a179316b9057",
        "name": "Adapt Data Type",
        "info": "",
        "x": 1060,
        "y": 840,
        "wires": []
    },
    {
        "id": "1461a2a1c5bed3eb",
        "type": "comment",
        "z": "bd14a179316b9057",
        "name": "Adapt Data Structure",
        "info": "",
        "x": 1360,
        "y": 840,
        "wires": []
    },
    {
        "id": "7b6555f934af74e8",
        "type": "file",
        "z": "bd14a179316b9057",
        "d": true,
        "name": "Save JSON for RMLMapper",
        "filename": "payload.path",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1400,
        "y": 480,
        "wires": [
            [
                "build-sh-from-path"
            ]
        ]
    },
    {
        "id": "9b5ec1fd22b2459b",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "Set RAW payload",
        "func": "msg.payload = msg.publishPacket.payload.data ;\n\n// Ensure msg.raw is a plain string (handles Buffer/objects)\nif (typeof msg.payload === 'string') {\n  msg.publishPacket.payload.data = msg.payload;\n} else if (Buffer.isBuffer(msg.payload)) {\n  msg.publishPacket.payload.data = msg.payload.toString('utf8');\n} else {\n  msg.publishPacket.payload.data = JSON.stringify(msg.payload);\n}\n\nmsg.payload = msg.publishPacket.payload.data\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 900,
        "wires": [
            [
                "0ef4533b4171c47d"
            ]
        ]
    },
    {
        "id": "ab137d79f26f7d7a",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "DISCONNECT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "15e9879e5f204034",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "PUBLISH",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 960,
        "wires": []
    },
    {
        "id": "6e37994a9d321ff7",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "PUBACK",
        "func": "msg._payload = msg.payload ;\n\nconst [hostAddress, portNumber] = (msg.payload.sockname || \"\").split(\":\");\n\nmsg.payload = {\n    timestamp: msg.payload.timestamp,\n    path: \"/data/share/in/puback.json\" ,\n    \n    network: {\n        connection: String(msg.req.socket) ?? null ,\n        tls: null ,\n        httpVersion: msg.req.httpVersion ?? null ,\n        \n        broker: {\n            brokerID: msg.payload.node ?? null ,\n            hostAddress: hostAddress || null,\n            portNumber: portNumber || null\n        } ,\n        \n        client: {\n            clientID: msg.payload.clientid ?? null ,\n        }\n    } ,\n\n    pubackPacket: {\n        fixedHeader: {\n            controlPacketType: \"PUBACK\",\n            reserved: null,\n            remainingLength: msg.req.headers[\"content-length\"] ?? null\n        },\n\n        variableHeader: {\n            packetIdentifier: null,\n            pubackReasonCode: msg.req.body.reason ?? null,\n\n            pubackProperties: {\n                propertyLength: null,\n                reasonString: null,\n                userProperty: null,\n            }\n        },\n\n        payload: {\n            // no payload\n        }\n    }\n};\n\nmsg.packet = \"puback\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 360,
        "wires": [
            [
                "34fb166b477cb504",
                "7b6555f934af74e8",
                "f2903667593944c3"
            ]
        ]
    },
    {
        "id": "34fb166b477cb504",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "PUBACK",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "f3229f753b385c50",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "PUBREC",
        "func": "msg._payload = msg.payload ;\n\nconst [hostAddress, portNumber] = (msg.payload.sockname || \"\").split(\":\");\n\nmsg.payload = {\n    timestamp: msg.payload.timestamp,\n    path: \"/data/share/in/pubrec.json\" ,\n    \n    network: {\n        connection: String(msg.req.socket) ?? null ,\n        tls: null ,\n        httpVersion: msg.req.httpVersion ?? null ,\n        \n        broker: {\n            brokerID: msg.payload.node ?? null ,\n            hostAddress: hostAddress || null,\n            portNumber: portNumber || null\n        } ,\n        \n        client: {\n            clientID: msg.payload.clientid ?? null ,\n        }\n    } ,\n\n    pubrecPacket: {\n        fixedHeader: {\n            controlPacketType: \"PUBREC\",\n            reserved: null,\n            remainingLength: msg.req.headers[\"content-length\"] ?? null\n        },\n\n        variableHeader: {\n            packetIdentifier: null,\n            pubrecReasonCode: msg.req.body.reason ?? null,\n\n            pubrecProperties: {\n                propertyLength: null,\n                reasonString: null,\n                userProperty: null,\n            }\n        },\n\n        payload: {\n            // no payload\n        }\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 420,
        "wires": [
            [
                "3e7ea1ae0552c29c",
                "7b6555f934af74e8"
            ]
        ]
    },
    {
        "id": "3e7ea1ae0552c29c",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "PUBREC",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 420,
        "wires": []
    },
    {
        "id": "df24496853482457",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "PUBREL",
        "func": "msg._payload = msg.payload ;\n\nconst [hostAddress, portNumber] = (msg.payload.sockname || \"\").split(\":\");\n\nmsg.payload = {\n    timestamp: msg.payload.timestamp,\n    path: \"/data/share/in/pubrel.json\" ,\n    \n    network: {\n        connection: String(msg.req.socket) ?? null ,\n        tls: null ,\n        httpVersion: msg.req.httpVersion ?? null ,\n        \n        broker: {\n            brokerID: msg.payload.node ?? null ,\n            hostAddress: hostAddress || null,\n            portNumber: portNumber || null\n        } ,\n        \n        client: {\n            clientID: msg.payload.clientid ?? null ,\n        }\n    } ,\n\n    pubrelPacket: {\n        fixedHeader: {\n            controlPacketType: \"PUBREL\",\n            reserved: null,\n            remainingLength: msg.req.headers[\"content-length\"] ?? null\n        },\n\n        variableHeader: {\n            packetIdentifier: null,\n            pubrelReasonCode: msg.req.body.reason ?? null,\n\n            pubrelProperties: {\n                propertyLength: null,\n                reasonString: null,\n                userProperty: null,\n            }\n        },\n\n        payload: {\n            // no payload\n        }\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 480,
        "wires": [
            [
                "78a256035df21171",
                "7b6555f934af74e8"
            ]
        ]
    },
    {
        "id": "78a256035df21171",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "PUBREL",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 480,
        "wires": []
    },
    {
        "id": "7640cd5ecdafef9c",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "PUBCOMP",
        "func": "msg._payload = msg.payload ;\n\nconst [hostAddress, portNumber] = (msg.payload.sockname || \"\").split(\":\");\n\nmsg.payload = {\n    timestamp: msg.payload.timestamp,\n    path: \"/data/share/in/pubcomp.json\" ,\n    \n    network: {\n        connection: String(msg.req.socket) ?? null ,\n        tls: null ,\n        httpVersion: msg.req.httpVersion ?? null ,\n        \n        broker: {\n            brokerID: msg.payload.node ?? null ,\n            hostAddress: hostAddress || null,\n            portNumber: portNumber || null\n        } ,\n        \n        client: {\n            clientID: msg.payload.clientid ?? null ,\n        }\n    } ,\n\n    pubcompPacket: {\n        fixedHeader: {\n            controlPacketType: \"PUBCOMP\",\n            reserved: null,\n            remainingLength: msg.req.headers[\"content-length\"] ?? null\n        },\n\n        variableHeader: {\n            packetIdentifier: null,\n            pubcompReasonCode: msg.req.body.reason ?? null,\n\n            pubcompProperties: {\n                propertyLength: null,\n                reasonString: null,\n                userProperty: null,\n            }\n        },\n\n        payload: {\n            // no payload\n        }\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 540,
        "wires": [
            [
                "08d3109bafa6e0e3",
                "7b6555f934af74e8"
            ]
        ]
    },
    {
        "id": "08d3109bafa6e0e3",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "PUBCOMP",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 540,
        "wires": []
    },
    {
        "id": "6c7c6d7faa689301",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "PINGREQ",
        "func": "msg._payload = msg.payload ;\n\nconst [hostAddress, portNumber] = (msg.payload.sockname || \"\").split(\":\");\n\nmsg.payload = {\n    timestamp: msg.payload.timestamp,\n    path: \"/data/share/in/pingreq.json\" ,\n    \n    network: {\n        connection: String(msg.req.socket) ?? null ,\n        tls: null ,\n        httpVersion: msg.req.httpVersion ?? null ,\n        \n        broker: {\n            brokerID: msg.payload.node ?? null ,\n            hostAddress: hostAddress || null,\n            portNumber: portNumber || null\n        } ,\n        \n        client: {\n            clientID: msg.payload.clientid ?? null ,\n        }\n    } ,\n\n    pingreqPacket: {\n        fixedHeader: {\n            controlPacketType: \"PINGREQ\",\n            reserved: null,\n            remainingLength: msg.req.headers[\"content-length\"] ?? null\n        },\n\n        variableHeader: {\n            // no variable header\n        },\n\n        payload: {\n            // no payload\n        }\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 600,
        "wires": [
            [
                "e8e58d767e92896c",
                "7b6555f934af74e8"
            ]
        ]
    },
    {
        "id": "e8e58d767e92896c",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "PINGREQ",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 600,
        "wires": []
    },
    {
        "id": "497ea531b76daf97",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "PINGRESP",
        "func": "msg._payload = msg.payload ;\n\nconst [hostAddress, portNumber] = (msg.payload.sockname || \"\").split(\":\");\n\nmsg.payload = {\n    timestamp: msg.payload.timestamp,\n    path: \"/data/share/in/pingresp.json\" ,\n    \n    network: {\n        connection: String(msg.req.socket) ?? null ,\n        tls: null ,\n        httpVersion: msg.req.httpVersion ?? null ,\n        \n        broker: {\n            brokerID: msg.payload.node ?? null ,\n            hostAddress: hostAddress || null,\n            portNumber: portNumber || null\n        } ,\n        \n        client: {\n            clientID: msg.payload.clientid ?? null ,\n        }\n    } ,\n\n    pingrespPacket: {\n        fixedHeader: {\n            controlPacketType: \"PINGRESP\",\n            reserved: null,\n            remainingLength: msg.req.headers[\"content-length\"] ?? null\n        },\n\n        variableHeader: {\n            // no variable header\n        },\n\n        payload: {\n            // no payload\n        }\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 660,
        "wires": [
            [
                "498daafdb16ecbc9",
                "7b6555f934af74e8"
            ]
        ]
    },
    {
        "id": "498daafdb16ecbc9",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "PINGRESP",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 660,
        "wires": []
    },
    {
        "id": "074934dba9111a79",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "AUTH",
        "func": "msg._payload = msg.payload ;\n\nconst [hostAddress, portNumber] = (msg.payload.sockname || \"\").split(\":\");\n\nmsg.payload = {\n    timestamp: msg.payload.timestamp,\n    path: \"/data/share/in/auth.json\" ,\n    \n    network: {\n        connection: String(msg.req.socket) ?? null ,\n        tls: null ,\n        httpVersion: msg.req.httpVersion ?? null ,\n        \n        broker: {\n            brokerID: msg.payload.node ?? null ,\n            hostAddress: hostAddress || null,\n            portNumber: portNumber || null\n        } ,\n        \n        client: {\n            clientID: msg.payload.clientid ?? null ,\n        }\n    } ,\n\n    authPacket: {\n        fixedHeader: {\n            controlPacketType: \"AUTH\",\n            reserved: null,\n            remainingLength: msg.req.headers[\"content-length\"] ?? null\n        },\n\n        variableHeader: {\n            authReasonCode: msg.req.body.reason ?? null,\n\n            authProperties: {\n                propertyLength: null,\n                authentificationMethod: null,\n                authentificationData: null,\n                reasonString: null,\n                userProperty: null,\n            }\n        },\n\n        payload: {\n            // no payload\n        }\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 720,
        "wires": [
            [
                "c2ccd94090ae0e32",
                "7b6555f934af74e8"
            ]
        ]
    },
    {
        "id": "c2ccd94090ae0e32",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "AUTH",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 720,
        "wires": []
    },
    {
        "id": "1779a8416703b1c1",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "SUBACK",
        "func": "msg._payload = msg.payload ;\n\nconst [hostAddress, portNumber] = (msg.payload.sockname || \"\").split(\":\");\n\nmsg.payload = {\n    timestamp: msg.payload.timestamp,\n    path: \"/data/share/in/suback.json\" ,\n    \n    network: {\n        connection: String(msg.req.socket) ?? null ,\n        tls: null ,\n        httpVersion: msg.req.httpVersion ?? null ,\n        \n        broker: {\n            brokerID: msg.payload.node ?? null ,\n            hostAddress: hostAddress || null,\n            portNumber: portNumber || null\n        } ,\n        \n        client: {\n            clientID: msg.payload.clientid ?? null ,\n        }\n    } ,\n\n    subackPacket: {\n        fixedHeader: {\n            controlPacketType: \"SUBACK\",\n            reserved: null,\n            remainingLength: msg.req.headers[\"content-length\"] ?? null\n        },\n\n        variableHeader: {\n            packetIdentifier: null,\n\n            subackProperties: {\n                propertyLength: null,\n                reasonString: null,\n                userProperty: null,\n            }\n        },\n\n        payload: {\n            subackReasonCode: msg.req.body.reason ?? null,\n        }\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 780,
        "wires": [
            [
                "5fbe7d2a71a2c901",
                "7b6555f934af74e8"
            ]
        ]
    },
    {
        "id": "5fbe7d2a71a2c901",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "SUBACK",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 780,
        "wires": []
    },
    {
        "id": "3a9f4bfdf1c3af8f",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "UNSUBACK",
        "func": "msg._payload = msg.payload ;\n\nconst [hostAddress, portNumber] = (msg.payload.sockname || \"\").split(\":\");\n\nmsg.payload = {\n    timestamp: msg.payload.timestamp,\n    path: \"/data/share/in/unsuback.json\" ,\n    \n    network: {\n        connection: String(msg.req.socket) ?? null ,\n        tls: null ,\n        httpVersion: msg.req.httpVersion ?? null ,\n        \n        broker: {\n            brokerID: msg.payload.node ?? null ,\n            hostAddress: hostAddress || null,\n            portNumber: portNumber || null\n        } ,\n        \n        client: {\n            clientID: msg.payload.clientid ?? null ,\n        }\n    } ,\n\n    unsubackPacket: {\n        fixedHeader: {\n            controlPacketType: \"UNSUBACK\",\n            reserved: null,\n            remainingLength: msg.req.headers[\"content-length\"] ?? null\n        },\n\n        variableHeader: {\n            packetIdentifier: null,\n\n            unsubackProperties: {\n                propertyLength: null,\n                reasonString: null,\n                userProperty: null,\n            }\n        },\n\n        payload: {\n            unsubackReasonCode: msg.req.body.reason ?? null,\n        }\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 840,
        "wires": [
            [
                "a3a748539beeabbf",
                "7b6555f934af74e8"
            ]
        ]
    },
    {
        "id": "a3a748539beeabbf",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "UNSUBACK",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 840,
        "wires": []
    },
    {
        "id": "48c5fed0e5f300f5",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "CONNACK",
        "func": "msg._payload = msg.payload ;\n\nconst [hostAddress, portNumber] = (msg.payload.sockname || \"\").split(\":\");\n\nmsg.payload = {\n    timestamp: msg.payload.timestamp,\n    path: \"/data/share/in/connack.json\" ,\n    \n    network: {\n        connection: String(msg.req.socket) ?? null ,\n        tls: null ,\n        httpVersion: msg.req.httpVersion ?? null ,\n        \n        broker: {\n            brokerID: msg.payload.node ?? null ,\n            hostAddress: hostAddress || null,\n            portNumber: portNumber || null\n        } ,\n        \n        client: {\n            clientID: msg.payload.clientid ?? null ,\n        }\n    } ,\n\n    connackPacket: {\n        fixedHeader: {\n            controlPacketType: \"CONNACK\",\n            reserved: null,\n            remainingLength: null \n        },\n\n        variableHeader: {\n            connackFlags: {\n                reserved: null,\n                sessionPresent: null\n            },\n\n            connackReasonCode: msg.payload.event ?? null,\n\n            connackProperties: {\n                propertyLength: null,\n                sessionExpiryInterval: msg.payload.expiry_interval ?? null,\n                receiveMaximum: null,\n                maximumQoS: null,\n                retainAvailable: null,\n                maximumPacketSize: null,\n                assignedClientIdentifier: null,\n                topicAliasMaximum: null,\n                reasonString: null,\n                userProperty: null,\n                wildcardSubscriptionAvailable: null,\n                subscriptionIdentifierAvailable: null,\n                sharedSubscriptionAvailable: null,\n                serverKeepAlive: msg.payload.keepalive ?? null,\n                responseInformation: null,\n                serverReference: null,\n                authenticationMethod: null,\n                authenticationData: null\n            }\n        },\n\n        payload: {\n            // no payload\n        }\n    }\n};\n\nmsg.packet = \"connack\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 120,
        "wires": [
            [
                "bc6a7b2e1556cd69",
                "7b6555f934af74e8",
                "f2903667593944c3"
            ]
        ]
    },
    {
        "id": "f57a30df8259c239",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "EMQX Events",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 280,
        "wires": []
    },
    {
        "id": "502bd3fa7a5e7eec",
        "type": "switch",
        "z": "bd14a179316b9057",
        "name": "",
        "property": "publishPacket.variableHeader.topicName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sensor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "actuator",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1210,
        "y": 1080,
        "wires": [
            [
                "acf21e36ccc21ad2"
            ],
            [
                "a71489ec461f3383"
            ]
        ]
    },
    {
        "id": "a71489ec461f3383",
        "type": "change",
        "z": "bd14a179316b9057",
        "name": "Structure Observations + Meta",
        "rules": [
            {
                "t": "set",
                "p": "actuationCollection",
                "pt": "msg",
                "to": "   payload.{\t   \"FeatureOfInterest\": RFID,\t   \"StartTime\": $string(JobStart),\t   \"EndTime\": $string(JobEnd),\t   \"Sensor\":$string(Sensor),\t   \"Actuator\": $string(Actuator),\t   \"Actuation\": [\t       {\t           \"Property\":\"Correction_X\",\t           \"Result\":$string(Correction_X)\t           },\t       {\t           \"Property\":\"Correction_Y\",\t           \"Result\":$string(Correction_Y)\t           },\t       {\t           \"Property\":\"Correction_Z\",\t           \"Result\":$string(Correction_Z)\t           }\t  ]\t}\t",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "columns",
                "pt": "msg",
                "to": "publishPacket.payload.encodedFields",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 1060,
        "wires": [
            [
                "bc2907fa5df5f108",
                "9f0ce50f8e34950d"
            ]
        ]
    },
    {
        "id": "build-sh-from-path",
        "type": "function",
        "z": "bd14a179316b9057",
        "d": true,
        "name": "Build SH from payload.path",
        "func": "const inputPath = msg.payload.path;\n\nif (!inputPath || typeof inputPath !== \"string\") {\n    node.error(\"payload.path fehlt\", msg);\n    return null;\n}\n\nconst fileName = inputPath.split(\"/\").pop();\nconst baseName = fileName.replace(/\\.json$/i, \"\").toLowerCase();\n\n// Nur Script-Pfad, kein führendes \"sh \"\nmsg.payload = `/rml/control-packets/${baseName}.sh`;\nmsg.script = msg.payload;\nmsg.packetType = baseName;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 320,
        "wires": [
            [
                "build-rml-trigger"
            ]
        ]
    },
    {
        "id": "build-rml-trigger",
        "type": "function",
        "z": "bd14a179316b9057",
        "d": true,
        "name": "Build RML trigger",
        "func": "const inputPath =\n    msg.payload?.path ||\n    msg.filename ||\n    msg.path ||\n    (typeof msg.payload === \"string\" ? msg.payload : null);\n\nif (!inputPath || typeof inputPath !== \"string\") {\n    node.error(\"Kein Dateipfad gefunden in msg.payload.path, msg.filename, msg.path oder msg.payload\", msg);\n    return null;\n}\n\nconst fileName = inputPath.split(\"/\").pop();\nconst baseName = fileName.replace(/\\.json$/i, \"\").toLowerCase();\n\nmsg.method = \"POST\";\nmsg.url = `http://rmlmapper:8080/map/${baseName}`;\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = { path: inputPath, packetType: baseName };\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 200,
        "wires": [
            [
                "http-trigger-rml"
            ]
        ]
    },
    {
        "id": "http-trigger-rml",
        "type": "http request",
        "z": "bd14a179316b9057",
        "d": true,
        "name": "Trigger RMLMapper",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "persist": false,
        "senderr": true,
        "x": 1780,
        "y": 200,
        "wires": [
            [
                "debug-rml-response",
                "debug-rml-full"
            ]
        ]
    },
    {
        "id": "debug-rml-response",
        "type": "debug",
        "z": "bd14a179316b9057",
        "d": true,
        "name": "RML Response Body",
        "active": false,
        "tosidebar": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2060,
        "y": 140,
        "wires": []
    },
    {
        "id": "debug-rml-full",
        "type": "debug",
        "z": "bd14a179316b9057",
        "d": true,
        "name": "RML Full Msg",
        "active": false,
        "tosidebar": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2040,
        "y": 220,
        "wires": []
    },
    {
        "id": "f2903667593944c3",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "Normalize payload",
        "func": "let p = msg.payload;\n\nif (Buffer.isBuffer(p)) {\n    p = p.toString('utf8');\n}\n\nmsg.payloadFormat = 'raw';\n\nif (typeof p === 'string') {\n    const s = p.trim();\n\n    if (s.startsWith('{') || s.startsWith('[')) {\n        try {\n            msg.payload = JSON.parse(s);\n            msg.payloadFormat = 'json';\n            return [null, msg];\n        } catch (e) {\n        }\n    }\n\n    const looksLikeCsv =\n        (s.includes(';') || s.includes(',')) &&\n        s.includes('\\n') &&\n        !s.startsWith('{') &&\n        !s.startsWith('[');\n\n    if (looksLikeCsv) {\n        msg.payload = s;\n        msg.payloadFormat = 'csv';\n        return [msg, null];\n    }\n\n    msg.payload = { raw: s };\n    msg.payloadFormat = 'raw';\n    return [null, msg];\n}\n\nif (typeof p === 'object' && p !== null) {\n    msg.payload = p;\n    msg.payloadFormat = 'object';\n    return [null, msg];\n}\n\nmsg.payload = { raw: p };\nmsg.payloadFormat = 'raw';\nreturn [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "x": 1390,
        "y": 540,
        "wires": [
            [
                "6c47b8270bff971f"
            ],
            [
                "3ac794e9ab44b013"
            ]
        ]
    },
    {
        "id": "6c47b8270bff971f",
        "type": "csv",
        "z": "bd14a179316b9057",
        "name": "CSV to JSON only if needed",
        "sep": ";",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1780,
        "y": 500,
        "wires": [
            [
                "91c6f57f27af2d21"
            ]
        ]
    },
    {
        "id": "91c6f57f27af2d21",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "Wrap CSV result minimally",
        "func": "// CSV bleibt hier absichtlich minimal.\n// Fuer produktive Nutzung musst du CSV in deine bestehende Packet-Struktur transformieren,\n// z.B. in publishPacket / connectPacket usw.\nmsg.payload = {\n    timestamp: new Date().toISOString(),\n    csvPayload: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2100,
        "y": 500,
        "wires": [
            [
                "3ac794e9ab44b013"
            ]
        ]
    },
    {
        "id": "3ac794e9ab44b013",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "Keep original packet structure",
        "func": "const packet = (msg.packet || 'unknown').toLowerCase();\nmsg.topic = packet;\nmsg._t_in = Date.now();\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 600,
        "wires": [
            [
                "5b14530eecafe21f"
            ]
        ]
    },
    {
        "id": "5b14530eecafe21f",
        "type": "join",
        "z": "bd14a179316b9057",
        "name": "Batch per packet",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "2",
        "count": "20",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2100,
        "y": 600,
        "wires": [
            [
                "d3941c1b14808597"
            ]
        ]
    },
    {
        "id": "d3941c1b14808597",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "Build batch file",
        "func": "const packet = (msg.topic || 'unknown').toLowerCase();\nconst arr = Array.isArray(msg.payload) ? msg.payload : [msg.payload];\n\nmsg.filename = `/data/share/in/${packet}.json`;\nmsg.payload = JSON.stringify(arr, null, 2);\nmsg.packet = packet;\nmsg.batchSize = arr.length;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1760,
        "y": 720,
        "wires": [
            [
                "d58523faed9a99f1"
            ]
        ]
    },
    {
        "id": "d58523faed9a99f1",
        "type": "file",
        "z": "bd14a179316b9057",
        "name": "Write batch JSON",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 2090,
        "y": 720,
        "wires": [
            [
                "dd52c7802610902c"
            ]
        ]
    },
    {
        "id": "dd52c7802610902c",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "Build trigger request",
        "func": "msg.method = 'POST';\nmsg.url = `http://rmlmapper:8080/map/${msg.packet}`;\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = {\n    packet: msg.packet,\n    batchSize: msg.batchSize\n};\nmsg._t_http = Date.now();\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 840,
        "wires": [
            [
                "84d269eb2028372e"
            ]
        ]
    },
    {
        "id": "84d269eb2028372e",
        "type": "http request",
        "z": "bd14a179316b9057",
        "name": "Call trigger server",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 2090,
        "y": 840,
        "wires": [
            [
                "00c5bdf72871b283",
                "862d31c07da2dc32"
            ]
        ]
    },
    {
        "id": "862d31c07da2dc32",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "Trigger result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2470,
        "y": 840,
        "wires": []
    },
    {
        "id": "00c5bdf72871b283",
        "type": "function",
        "z": "bd14a179316b9057",
        "name": "Runtime",
        "func": "msg.timings = {\n  queue_to_http_ms: msg._t_http - msg._t_in,\n  total_to_response_ms: Date.now() - msg._t_in,\n  batchSize: msg.batchSize,\n  packet: msg.packet\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2320,
        "y": 780,
        "wires": [
            [
                "33341222b2160c60"
            ]
        ]
    },
    {
        "id": "33341222b2160c60",
        "type": "debug",
        "z": "bd14a179316b9057",
        "name": "Runtime result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "timings",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2480,
        "y": 720,
        "wires": []
    },
    {
        "id": "http_db96a8a5",
        "type": "http request",
        "z": "da70bb24b2881dca",
        "name": "GraphDB SPARQL",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 890,
        "y": 140,
        "wires": [
            [
                "prep_ed119a95"
            ]
        ]
    },
    {
        "id": "prep_ed119a95",
        "type": "function",
        "z": "da70bb24b2881dca",
        "name": "Prepare Message content analytics view",
        "func": "function short(v) {\n    if (v === null || v === undefined) return \"\";\n    const s = String(v);\n    const hash = s.lastIndexOf(\"#\");\n    const slash = s.lastIndexOf(\"/\");\n    const idx = Math.max(hash, slash);\n    return idx >= 0 ? s.substring(idx + 1) : s;\n}\n\nconst bindings = (((msg.payload || {}).results || {}).bindings) || [];\nconst columns = msg.meta.columns || [];\nconst rows = bindings.map(b => {\n    const row = {};\n    columns.forEach(c => row[c] = short(b[c] && b[c].value));\n    return row;\n});\n\nlet counts = [];\nif (msg.meta.countKey) {\n    const map = {};\n    rows.forEach(r => {\n        const key = r[msg.meta.countKey] || \"(blank)\";\n        map[key] = (map[key] || 0) + 1;\n    });\n    const max = Math.max(1, ...Object.values(map), 1);\n    counts = Object.entries(map)\n        .sort((a,b) => b[1] - a[1])\n        .map(([label, value]) => ({\n            label,\n            value,\n            percent: Math.round((value / max) * 100)\n        }));\n}\n\nmsg.payload = {\n    title: msg.meta.title,\n    description: msg.meta.description,\n    scenario: msg.meta.scenario,\n    columns,\n    rows,\n    counts\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 140,
        "wires": [
            [
                "template_a01a40db",
                "debug_d84ac9a4"
            ]
        ]
    },
    {
        "id": "template_a01a40db",
        "type": "ui-template",
        "z": "da70bb24b2881dca",
        "group": "group_70ac722f",
        "page": "",
        "ui": "",
        "name": "Message content analytics view",
        "order": 4,
        "width": "12",
        "height": "16",
        "head": "",
        "format": "<template>\n  <div class=\"wrap\" v-if=\"msg.payload\">\n    <div class=\"header\">\n      <div>\n        <div class=\"eyebrow\">{{ msg.payload.scenario }}</div>\n        <h3>{{ msg.payload.title }}</h3>\n        <p>{{ msg.payload.description }}</p>\n      </div>\n      <v-chip color=\"primary\" variant=\"tonal\">{{ msg.payload.rows?.length || 0 }} rows</v-chip>\n    </div>\n\n    <div v-if=\"msg.payload.counts?.length\">\n      <div class=\"section-title\">Summary</div>\n      <div v-for=\"item in msg.payload.counts\" :key=\"item.label\" class=\"bar-row\">\n        <div class=\"bar-labels\">\n          <span>{{ item.label }}</span>\n          <strong>{{ item.value }}</strong>\n        </div>\n        <v-progress-linear :model-value=\"item.percent\" height=\"18\" rounded></v-progress-linear>\n      </div>\n    </div>\n\n    <div class=\"section-title\">Rows</div>\n    <div class=\"table-wrap\">\n      <table>\n        <thead>\n          <tr>\n            <th v-for=\"c in msg.payload.columns\" :key=\"c\">{{ c }}</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr v-for=\"(row, idx) in msg.payload.rows\" :key=\"idx\">\n            <td v-for=\"c in msg.payload.columns\" :key=\"c\">{{ row[c] }}</td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n  </div>\n</template>\n\n<style>\n.wrap { padding: 8px; }\n.eyebrow { font-size: 0.8rem; font-weight: 600; color: #0094CE; margin-bottom: 4px; text-transform: uppercase; letter-spacing: .04em; }\n.header { display:flex; justify-content:space-between; gap:12px; align-items:flex-start; margin-bottom: 12px; }\nh3 { margin: 0 0 4px 0; }\np { margin: 0; color: #555; }\n.section-title { font-weight: 600; margin: 14px 0 8px 0; }\n.bar-row { margin-bottom: 10px; }\n.bar-labels { display:flex; justify-content:space-between; gap: 12px; margin-bottom:4px; }\n.table-wrap { overflow:auto; max-height:420px; border:1px solid #ddd; border-radius:8px; }\ntable { width:100%; border-collapse: collapse; }\nthead { position: sticky; top: 0; background: #fafafa; z-index: 1; }\nth, td { text-align:left; padding:8px; border-bottom:1px solid #eee; white-space: nowrap; }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1610,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "debug_d84ac9a4",
        "type": "debug",
        "z": "da70bb24b2881dca",
        "name": "Message content analytics debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 80,
        "wires": []
    },
    {
        "id": "uibtn_d29c891c",
        "type": "ui-button",
        "z": "da70bb24b2881dca",
        "group": "group_70ac722f",
        "name": "",
        "label": "Load content formats",
        "order": 1,
        "width": "4",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-code-json",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "build_b1eb2cbe"
            ]
        ]
    },
    {
        "id": "build_b1eb2cbe",
        "type": "function",
        "z": "da70bb24b2881dca",
        "name": "Build Message content formats query",
        "func": "const graphdbBase = env.get(\"GRAPHDB_BASE\") || \"http://graphdb:7200\";\nconst repo = env.get(\"GRAPHDB_REPO\") || \"mqtt4ssn\";\nconst query = `PREFIX mqtt: <https://doernern.github.io/MQTT4SSNOntology/MQTT4SSN.owl#>\nSELECT ?message ?content ?type ?encoding ?delimiter WHERE {\n  ?message a mqtt:ApplicationMessage .\n  OPTIONAL { ?message mqtt:hasApplicationContent ?content }\n  OPTIONAL { ?message mqtt:hasApplicationContentType ?type }\n  OPTIONAL { ?message mqtt:hasApplicationEncoding ?encoding }\n  OPTIONAL { ?message mqtt:hasApplicationContentDelimiter ?delimiter }\n}`;\nmsg.method = \"POST\";\nmsg.url = `${graphdbBase}/repositories/${repo}`;\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Accept\": \"application/sparql-results+json\"\n};\nmsg.payload = \"query=\" + encodeURIComponent(query);\nmsg.meta = {\n    title: \"Message content formats\",\n    scenario: \"Usage Scenario: Message Content\",\n    description: \"Shows heterogeneous message payload representations, content type, encoding and delimiters for reuse-ready parsing across deployments.\",\n    columns: [\"message\", \"content\", \"type\", \"encoding\", \"delimiter\"],\n    countKey: \"type\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 100,
        "wires": [
            [
                "http_db96a8a5"
            ]
        ]
    },
    {
        "id": "uibtn_4cbcee4c",
        "type": "ui-button",
        "z": "da70bb24b2881dca",
        "group": "group_70ac722f",
        "name": "",
        "label": "Load activity semantics",
        "order": 2,
        "width": "4",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-chart-timeline-variant",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "build_7ad4f222"
            ]
        ]
    },
    {
        "id": "build_7ad4f222",
        "type": "function",
        "z": "da70bb24b2881dca",
        "name": "Build Encoded activity semantics query",
        "func": "const graphdbBase = env.get(\"GRAPHDB_BASE\") || \"http://graphdb:7200\";\nconst repo = env.get(\"GRAPHDB_REPO\") || \"mqtt4ssn\";\nconst query = `PREFIX mqtt: <https://doernern.github.io/MQTT4SSNOntology/MQTT4SSN.owl#>\nPREFIX sosa: <http://www.w3.org/ns/sosa/>\nSELECT ?message ?activity ?member ?FOI ?property WHERE {\n  ?message a mqtt:ApplicationMessage ;\n           ?applicationMessageEncodesActivity ?activity .\n  ?activity a mqtt:Activity .\n  OPTIONAL { ?activity sosa:hasFeatureOfInterest ?FOI }\n  OPTIONAL { ?activity sosa:hasMember ?member }\n  OPTIONAL { ?member sosa:observedProperty ?property }\n}`;\nmsg.method = \"POST\";\nmsg.url = `${graphdbBase}/repositories/${repo}`;\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Accept\": \"application/sparql-results+json\"\n};\nmsg.payload = \"query=\" + encodeURIComponent(query);\nmsg.meta = {\n    title: \"Encoded activity semantics\",\n    scenario: \"Usage Scenario: Message Content\",\n    description: \"Connects application messages with activities, features of interest and observed properties so heterogeneous payloads become queryable on shared semantics.\",\n    columns: [\"message\", \"activity\", \"member\", \"FOI\", \"property\"],\n    countKey: \"property\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 160,
        "wires": [
            [
                "http_db96a8a5"
            ]
        ]
    },
    {
        "id": "uibtn_b89dd1b3",
        "type": "ui-button",
        "z": "da70bb24b2881dca",
        "group": "group_70ac722f",
        "name": "",
        "label": "Load transport lineage",
        "order": 3,
        "width": "4",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-transit-connection-variant",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "build_404b0f55"
            ]
        ]
    },
    {
        "id": "build_404b0f55",
        "type": "function",
        "z": "da70bb24b2881dca",
        "name": "Build Application message lineage query",
        "func": "const graphdbBase = env.get(\"GRAPHDB_BASE\") || \"http://graphdb:7200\";\nconst repo = env.get(\"GRAPHDB_REPO\") || \"mqtt4ssn\";\nconst query = `PREFIX mqtt: <https://doernern.github.io/MQTT4SSNOntology/MQTT4SSN.owl#>\nSELECT ?message ?payload ?packet ?client ?broker WHERE {\n  ?message a mqtt:ApplicationMessage ;\n           mqtt:isApplicationMessageOf ?payload .\n  ?payload mqtt:isPublishPayloadOf ?packet .\n  OPTIONAL { ?client mqtt:sendsControlPacket ?packet . ?client a mqtt:Client }\n  OPTIONAL { ?broker mqtt:sendsControlPacket ?packet . ?broker a mqtt:Broker }\n}`;\nmsg.method = \"POST\";\nmsg.url = `${graphdbBase}/repositories/${repo}`;\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Accept\": \"application/sparql-results+json\"\n};\nmsg.payload = \"query=\" + encodeURIComponent(query);\nmsg.meta = {\n    title: \"Application message lineage\",\n    scenario: \"Usage Scenario: Message Content\",\n    description: \"Provides semantic end-to-end traceability from application message to publish payload, transport packet, client and broker.\",\n    columns: [\"message\", \"payload\", \"packet\", \"client\", \"broker\"],\n    countKey: \"packet\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [
            [
                "http_db96a8a5"
            ]
        ]
    },
    {
        "id": "http_416f3eae",
        "type": "http request",
        "z": "da70bb24b2881dca",
        "name": "GraphDB SPARQL",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 890,
        "y": 360,
        "wires": [
            [
                "prep_9b5fe6fa"
            ]
        ]
    },
    {
        "id": "prep_9b5fe6fa",
        "type": "function",
        "z": "da70bb24b2881dca",
        "name": "Prepare Semantic topic naming analytics view",
        "func": "function short(v) {\n    if (v === null || v === undefined) return \"\";\n    const s = String(v);\n    const hash = s.lastIndexOf(\"#\");\n    const slash = s.lastIndexOf(\"/\");\n    const idx = Math.max(hash, slash);\n    return idx >= 0 ? s.substring(idx + 1) : s;\n}\n\nconst bindings = (((msg.payload || {}).results || {}).bindings) || [];\nconst columns = msg.meta.columns || [];\nconst rows = bindings.map(b => {\n    const row = {};\n    columns.forEach(c => row[c] = short(b[c] && b[c].value));\n    return row;\n});\n\nlet counts = [];\nif (msg.meta.countKey) {\n    const map = {};\n    rows.forEach(r => {\n        const key = r[msg.meta.countKey] || \"(blank)\";\n        map[key] = (map[key] || 0) + 1;\n    });\n    const max = Math.max(1, ...Object.values(map), 1);\n    counts = Object.entries(map)\n        .sort((a,b) => b[1] - a[1])\n        .map(([label, value]) => ({\n            label,\n            value,\n            percent: Math.round((value / max) * 100)\n        }));\n}\n\nmsg.payload = {\n    title: msg.meta.title,\n    description: msg.meta.description,\n    scenario: msg.meta.scenario,\n    columns,\n    rows,\n    counts\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 360,
        "wires": [
            [
                "template_ff5340b8",
                "debug_860ecd3e"
            ]
        ]
    },
    {
        "id": "template_ff5340b8",
        "type": "ui-template",
        "z": "da70bb24b2881dca",
        "group": "group_4e7a34ac",
        "page": "",
        "ui": "",
        "name": "Semantic topic naming analytics view",
        "order": 5,
        "width": "12",
        "height": "16",
        "head": "",
        "format": "<template>\n  <div class=\"wrap\" v-if=\"msg.payload\">\n    <div class=\"header\">\n      <div>\n        <div class=\"eyebrow\">{{ msg.payload.scenario }}</div>\n        <h3>{{ msg.payload.title }}</h3>\n        <p>{{ msg.payload.description }}</p>\n      </div>\n      <v-chip color=\"primary\" variant=\"tonal\">{{ msg.payload.rows?.length || 0 }} rows</v-chip>\n    </div>\n\n    <div v-if=\"msg.payload.counts?.length\">\n      <div class=\"section-title\">Summary</div>\n      <div v-for=\"item in msg.payload.counts\" :key=\"item.label\" class=\"bar-row\">\n        <div class=\"bar-labels\">\n          <span>{{ item.label }}</span>\n          <strong>{{ item.value }}</strong>\n        </div>\n        <v-progress-linear :model-value=\"item.percent\" height=\"18\" rounded></v-progress-linear>\n      </div>\n    </div>\n\n    <div class=\"section-title\">Rows</div>\n    <div class=\"table-wrap\">\n      <table>\n        <thead>\n          <tr>\n            <th v-for=\"c in msg.payload.columns\" :key=\"c\">{{ c }}</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr v-for=\"(row, idx) in msg.payload.rows\" :key=\"idx\">\n            <td v-for=\"c in msg.payload.columns\" :key=\"c\">{{ row[c] }}</td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n  </div>\n</template>\n\n<style>\n.wrap { padding: 8px; }\n.eyebrow { font-size: 0.8rem; font-weight: 600; color: #0094CE; margin-bottom: 4px; text-transform: uppercase; letter-spacing: .04em; }\n.header { display:flex; justify-content:space-between; gap:12px; align-items:flex-start; margin-bottom: 12px; }\nh3 { margin: 0 0 4px 0; }\np { margin: 0; color: #555; }\n.section-title { font-weight: 600; margin: 14px 0 8px 0; }\n.bar-row { margin-bottom: 10px; }\n.bar-labels { display:flex; justify-content:space-between; gap: 12px; margin-bottom:4px; }\n.table-wrap { overflow:auto; max-height:420px; border:1px solid #ddd; border-radius:8px; }\ntable { width:100%; border-collapse: collapse; }\nthead { position: sticky; top: 0; background: #fafafa; z-index: 1; }\nth, td { text-align:left; padding:8px; border-bottom:1px solid #eee; white-space: nowrap; }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1630,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "debug_860ecd3e",
        "type": "debug",
        "z": "da70bb24b2881dca",
        "name": "Semantic topic naming analytics debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 300,
        "wires": []
    },
    {
        "id": "uibtn_b05b79b2",
        "type": "ui-button",
        "z": "da70bb24b2881dca",
        "group": "group_4e7a34ac",
        "name": "",
        "label": "Load sensor topics",
        "order": 1,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-radar",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "build_ff831f70"
            ]
        ]
    },
    {
        "id": "build_ff831f70",
        "type": "function",
        "z": "da70bb24b2881dca",
        "name": "Build Sensor to topic mapping query",
        "func": "const graphdbBase = env.get(\"GRAPHDB_BASE\") || \"http://graphdb:7200\";\nconst repo = env.get(\"GRAPHDB_REPO\") || \"mqtt4ssn\";\nconst query = `PREFIX mqtt: <https://doernern.github.io/MQTT4SSNOntology/MQTT4SSN.owl#>\nPREFIX sosa: <http://www.w3.org/ns/sosa/>\nSELECT ?sensor ?topic WHERE {\n  ?sensor a sosa:Sensor ;\n          mqtt:observesTopic ?topic .\n  ?topic a mqtt:Topic .\n}`;\nmsg.method = \"POST\";\nmsg.url = `${graphdbBase}/repositories/${repo}`;\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Accept\": \"application/sparql-results+json\"\n};\nmsg.payload = \"query=\" + encodeURIComponent(query);\nmsg.meta = {\n    title: \"Sensor to topic mapping\",\n    scenario: \"Usage Scenario: Semantic Topic Naming\",\n    description: \"Shows which semantic sensors publish to which MQTT topics, enabling discovery of streams for particular observations.\",\n    columns: [\"sensor\", \"topic\"],\n    countKey: \"topic\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 300,
        "wires": [
            [
                "http_416f3eae"
            ]
        ]
    },
    {
        "id": "uibtn_906ccfca",
        "type": "ui-button",
        "z": "da70bb24b2881dca",
        "group": "group_4e7a34ac",
        "name": "",
        "label": "Load actuator topics",
        "order": 2,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-robot-industrial",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "build_c578f0f4"
            ]
        ]
    },
    {
        "id": "build_c578f0f4",
        "type": "function",
        "z": "da70bb24b2881dca",
        "name": "Build Actuator subscription topics query",
        "func": "const graphdbBase = env.get(\"GRAPHDB_BASE\") || \"http://graphdb:7200\";\nconst repo = env.get(\"GRAPHDB_REPO\") || \"mqtt4ssn\";\nconst query = `PREFIX mqtt: <https://doernern.github.io/MQTT4SSNOntology/MQTT4SSN.owl#>\nPREFIX sosa: <http://www.w3.org/ns/sosa/>\nSELECT ?actuator ?topic WHERE {\n  ?actuator a sosa:Actuator ;\n            mqtt:listensToTopic ?topic .\n  ?topic a mqtt:Topic .\n}`;\nmsg.method = \"POST\";\nmsg.url = `${graphdbBase}/repositories/${repo}`;\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Accept\": \"application/sparql-results+json\"\n};\nmsg.payload = \"query=\" + encodeURIComponent(query);\nmsg.meta = {\n    title: \"Actuator subscription topics\",\n    scenario: \"Usage Scenario: Semantic Topic Naming\",\n    description: \"Shows which semantic actuators listen to which MQTT topics so control channels can be reconfigured or audited.\",\n    columns: [\"actuator\", \"topic\"],\n    countKey: \"topic\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 360,
        "wires": [
            [
                "http_416f3eae"
            ]
        ]
    },
    {
        "id": "uibtn_191a479d",
        "type": "ui-button",
        "z": "da70bb24b2881dca",
        "group": "group_4e7a34ac",
        "name": "",
        "label": "Load topic subjects",
        "order": 3,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-tag-multiple",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "build_c2240ade"
            ]
        ]
    },
    {
        "id": "build_c2240ade",
        "type": "function",
        "z": "da70bb24b2881dca",
        "name": "Build Topic subject semantics query",
        "func": "const graphdbBase = env.get(\"GRAPHDB_BASE\") || \"http://graphdb:7200\";\nconst repo = env.get(\"GRAPHDB_REPO\") || \"mqtt4ssn\";\nconst query = `PREFIX mqtt: <https://doernern.github.io/MQTT4SSNOntology/MQTT4SSN.owl#>\nPREFIX sosa: <http://www.w3.org/ns/sosa/>\nSELECT ?topic ?subject ?type WHERE {\n  ?topic a mqtt:Topic ;\n         mqtt:hasSubject ?subject .\n  ?subject a ?type .\n  FILTER( STRSTARTS(STR(?type), STR(sosa:)) )\n}`;\nmsg.method = \"POST\";\nmsg.url = `${graphdbBase}/repositories/${repo}`;\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Accept\": \"application/sparql-results+json\"\n};\nmsg.payload = \"query=\" + encodeURIComponent(query);\nmsg.meta = {\n    title: \"Topic subject semantics\",\n    scenario: \"Usage Scenario: Semantic Topic Naming\",\n    description: \"Explains topic naming through linked observation or actuation subjects instead of vendor-specific naming conventions.\",\n    columns: [\"topic\", \"subject\", \"type\"],\n    countKey: \"type\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 420,
        "wires": [
            [
                "http_416f3eae"
            ]
        ]
    },
    {
        "id": "uibtn_2124050b",
        "type": "ui-button",
        "z": "da70bb24b2881dca",
        "group": "group_4e7a34ac",
        "name": "",
        "label": "Load filter matches",
        "order": 4,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-filter-cog",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "build_f8a56874"
            ]
        ]
    },
    {
        "id": "build_f8a56874",
        "type": "function",
        "z": "da70bb24b2881dca",
        "name": "Build Semantic stream discovery query",
        "func": "const graphdbBase = env.get(\"GRAPHDB_BASE\") || \"http://graphdb:7200\";\nconst repo = env.get(\"GRAPHDB_REPO\") || \"mqtt4ssn\";\nconst query = `PREFIX mqtt: <https://doernern.github.io/MQTT4SSNOntology/MQTT4SSN.owl#>\nSELECT ?filter ?topic WHERE {\n  ?filter a mqtt:TopicFilter ;\n          mqtt:matchesTopic ?topic .\n  ?topic a mqtt:Topic .\n}`;\nmsg.method = \"POST\";\nmsg.url = `${graphdbBase}/repositories/${repo}`;\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Accept\": \"application/sparql-results+json\"\n};\nmsg.payload = \"query=\" + encodeURIComponent(query);\nmsg.meta = {\n    title: \"Semantic stream discovery\",\n    scenario: \"Usage Scenario: Semantic Topic Naming\",\n    description: \"Shows which topic filters resolve to which concrete topics, useful for auto-discovery and broad subscriptions for a property or feature of interest.\",\n    columns: [\"filter\", \"topic\"],\n    countKey: \"filter\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 480,
        "wires": [
            [
                "http_416f3eae"
            ]
        ]
    },
    {
        "id": "http_40f68e12",
        "type": "http request",
        "z": "da70bb24b2881dca",
        "name": "GraphDB SPARQL",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 890,
        "y": 660,
        "wires": [
            [
                "prep_38be47e4"
            ]
        ]
    },
    {
        "id": "prep_38be47e4",
        "type": "function",
        "z": "da70bb24b2881dca",
        "name": "Prepare Transport diagnostics analytics view",
        "func": "function short(v) {\n    if (v === null || v === undefined) return \"\";\n    const s = String(v);\n    const hash = s.lastIndexOf(\"#\");\n    const slash = s.lastIndexOf(\"/\");\n    const idx = Math.max(hash, slash);\n    return idx >= 0 ? s.substring(idx + 1) : s;\n}\n\nconst bindings = (((msg.payload || {}).results || {}).bindings) || [];\nconst columns = msg.meta.columns || [];\nconst rows = bindings.map(b => {\n    const row = {};\n    columns.forEach(c => row[c] = short(b[c] && b[c].value));\n    return row;\n});\n\nlet counts = [];\nif (msg.meta.countKey) {\n    const map = {};\n    rows.forEach(r => {\n        const key = r[msg.meta.countKey] || \"(blank)\";\n        map[key] = (map[key] || 0) + 1;\n    });\n    const max = Math.max(1, ...Object.values(map), 1);\n    counts = Object.entries(map)\n        .sort((a,b) => b[1] - a[1])\n        .map(([label, value]) => ({\n            label,\n            value,\n            percent: Math.round((value / max) * 100)\n        }));\n}\n\nmsg.payload = {\n    title: msg.meta.title,\n    description: msg.meta.description,\n    scenario: msg.meta.scenario,\n    columns,\n    rows,\n    counts\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 660,
        "wires": [
            [
                "template_c9317cce",
                "debug_f0b0c3a8"
            ]
        ]
    },
    {
        "id": "template_c9317cce",
        "type": "ui-template",
        "z": "da70bb24b2881dca",
        "group": "group_098ddc74",
        "page": "",
        "ui": "",
        "name": "Transport diagnostics analytics view",
        "order": 6,
        "width": "12",
        "height": "16",
        "head": "",
        "format": "<template>\n  <div class=\"wrap\" v-if=\"msg.payload\">\n    <div class=\"header\">\n      <div>\n        <div class=\"eyebrow\">{{ msg.payload.scenario }}</div>\n        <h3>{{ msg.payload.title }}</h3>\n        <p>{{ msg.payload.description }}</p>\n      </div>\n      <v-chip color=\"primary\" variant=\"tonal\">{{ msg.payload.rows?.length || 0 }} rows</v-chip>\n    </div>\n\n    <div v-if=\"msg.payload.counts?.length\">\n      <div class=\"section-title\">Summary</div>\n      <div v-for=\"item in msg.payload.counts\" :key=\"item.label\" class=\"bar-row\">\n        <div class=\"bar-labels\">\n          <span>{{ item.label }}</span>\n          <strong>{{ item.value }}</strong>\n        </div>\n        <v-progress-linear :model-value=\"item.percent\" height=\"18\" rounded></v-progress-linear>\n      </div>\n    </div>\n\n    <div class=\"section-title\">Rows</div>\n    <div class=\"table-wrap\">\n      <table>\n        <thead>\n          <tr>\n            <th v-for=\"c in msg.payload.columns\" :key=\"c\">{{ c }}</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr v-for=\"(row, idx) in msg.payload.rows\" :key=\"idx\">\n            <td v-for=\"c in msg.payload.columns\" :key=\"c\">{{ row[c] }}</td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n  </div>\n</template>\n\n<style>\n.wrap { padding: 8px; }\n.eyebrow { font-size: 0.8rem; font-weight: 600; color: #0094CE; margin-bottom: 4px; text-transform: uppercase; letter-spacing: .04em; }\n.header { display:flex; justify-content:space-between; gap:12px; align-items:flex-start; margin-bottom: 12px; }\nh3 { margin: 0 0 4px 0; }\np { margin: 0; color: #555; }\n.section-title { font-weight: 600; margin: 14px 0 8px 0; }\n.bar-row { margin-bottom: 10px; }\n.bar-labels { display:flex; justify-content:space-between; gap: 12px; margin-bottom:4px; }\n.table-wrap { overflow:auto; max-height:420px; border:1px solid #ddd; border-radius:8px; }\ntable { width:100%; border-collapse: collapse; }\nthead { position: sticky; top: 0; background: #fafafa; z-index: 1; }\nth, td { text-align:left; padding:8px; border-bottom:1px solid #eee; white-space: nowrap; }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1630,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "debug_f0b0c3a8",
        "type": "debug",
        "z": "da70bb24b2881dca",
        "name": "Transport diagnostics analytics debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 600,
        "wires": []
    },
    {
        "id": "uibtn_88e96dda",
        "type": "ui-button",
        "z": "da70bb24b2881dca",
        "group": "group_098ddc74",
        "name": "",
        "label": "Load TLS connections",
        "order": 1,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-lock-network",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 560,
        "wires": [
            [
                "build_0e1c02ea"
            ]
        ]
    },
    {
        "id": "build_0e1c02ea",
        "type": "function",
        "z": "da70bb24b2881dca",
        "name": "Build TLS connection paths query",
        "func": "const graphdbBase = env.get(\"GRAPHDB_BASE\") || \"http://graphdb:7200\";\nconst repo = env.get(\"GRAPHDB_REPO\") || \"mqtt4ssn\";\nconst query = `PREFIX mqtt: <https://doernern.github.io/MQTT4SSNOntology/MQTT4SSN.owl#>\nSELECT ?connection ?tls ?client ?broker WHERE {\n  ?connection a mqtt:NetworkConnection .\n  OPTIONAL { ?connection mqtt:usesTLS ?tls }\n  OPTIONAL { ?connection mqtt:isInitiatedBy ?client }\n  OPTIONAL { ?broker mqtt:isAcceptedBy ?connection }\n}`;\nmsg.method = \"POST\";\nmsg.url = `${graphdbBase}/repositories/${repo}`;\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Accept\": \"application/sparql-results+json\"\n};\nmsg.payload = \"query=\" + encodeURIComponent(query);\nmsg.meta = {\n    title: \"TLS connection paths\",\n    scenario: \"Usage Scenario: Malformed Packets / Transport Diagnostics\",\n    description: \"Highlights which network connections use TLS and which clients and brokers participate, helping diagnose transport context around failures.\",\n    columns: [\"connection\", \"tls\", \"client\", \"broker\"],\n    countKey: \"tls\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 560,
        "wires": [
            [
                "http_40f68e12"
            ]
        ]
    },
    {
        "id": "uibtn_ee18868b",
        "type": "ui-button",
        "z": "da70bb24b2881dca",
        "group": "group_098ddc74",
        "name": "",
        "label": "Load QoS profile",
        "order": 2,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-signal-distance-variant",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "build_93c7c815"
            ]
        ]
    },
    {
        "id": "build_93c7c815",
        "type": "function",
        "z": "da70bb24b2881dca",
        "name": "Build QoS configuration profile query",
        "func": "const graphdbBase = env.get(\"GRAPHDB_BASE\") || \"http://graphdb:7200\";\nconst repo = env.get(\"GRAPHDB_REPO\") || \"mqtt4ssn\";\nconst query = `PREFIX mqtt: <https://doernern.github.io/MQTT4SSNOntology/MQTT4SSN.owl#>\nSELECT ?entity ?qos WHERE {\n  { ?entity a mqtt:PublishFixedHeader ; mqtt:hasQoSLevel ?qos . }\n  UNION\n  { ?entity a mqtt:SubscriptionEntry ; mqtt:hasQoSLevel ?qos . }\n}`;\nmsg.method = \"POST\";\nmsg.url = `${graphdbBase}/repositories/${repo}`;\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Accept\": \"application/sparql-results+json\"\n};\nmsg.payload = \"query=\" + encodeURIComponent(query);\nmsg.meta = {\n    title: \"QoS configuration profile\",\n    scenario: \"Usage Scenario: Malformed Packets / Transport Diagnostics\",\n    description: \"Surfaces QoS levels in publish headers and subscription entries to investigate delivery guarantees and missing values.\",\n    columns: [\"entity\", \"qos\"],\n    countKey: \"qos\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 620,
        "wires": [
            [
                "http_40f68e12"
            ]
        ]
    },
    {
        "id": "uibtn_f66777eb",
        "type": "ui-button",
        "z": "da70bb24b2881dca",
        "group": "group_098ddc74",
        "name": "",
        "label": "Load publish flags",
        "order": 3,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-flag-checkered",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "build_a25025e5"
            ]
        ]
    },
    {
        "id": "build_a25025e5",
        "type": "function",
        "z": "da70bb24b2881dca",
        "name": "Build Publish packet flags query",
        "func": "const graphdbBase = env.get(\"GRAPHDB_BASE\") || \"http://graphdb:7200\";\nconst repo = env.get(\"GRAPHDB_REPO\") || \"mqtt4ssn\";\nconst query = `PREFIX mqtt: <https://doernern.github.io/MQTT4SSNOntology/MQTT4SSN.owl#>\nSELECT ?packet ?retain ?dup WHERE {\n  ?packet a mqtt:PublishPacket ;\n          mqtt:hasPublishFixedHeader ?header .\n  OPTIONAL { ?header mqtt:hasRetainFlag ?retain }\n  OPTIONAL { ?header mqtt:hasDUPFlag ?dup }\n}`;\nmsg.method = \"POST\";\nmsg.url = `${graphdbBase}/repositories/${repo}`;\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Accept\": \"application/sparql-results+json\"\n};\nmsg.payload = \"query=\" + encodeURIComponent(query);\nmsg.meta = {\n    title: \"Publish packet flags\",\n    scenario: \"Usage Scenario: Malformed Packets / Transport Diagnostics\",\n    description: \"Shows DUP and Retain flags for publish packets so retries and retained-state side effects can be inspected during fault analysis.\",\n    columns: [\"packet\", \"retain\", \"dup\"],\n    countKey: \"dup\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 680,
        "wires": [
            [
                "http_40f68e12"
            ]
        ]
    },
    {
        "id": "uibtn_b5b02df2",
        "type": "ui-button",
        "z": "da70bb24b2881dca",
        "group": "group_098ddc74",
        "name": "",
        "label": "Load packet identifiers",
        "order": 4,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-identifier",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 740,
        "wires": [
            [
                "build_a65f9bcb"
            ]
        ]
    },
    {
        "id": "build_a65f9bcb",
        "type": "function",
        "z": "da70bb24b2881dca",
        "name": "Build Packet identifier traceability query",
        "func": "const graphdbBase = env.get(\"GRAPHDB_BASE\") || \"http://graphdb:7200\";\nconst repo = env.get(\"GRAPHDB_REPO\") || \"mqtt4ssn\";\nconst query = `PREFIX mqtt: <https://doernern.github.io/MQTT4SSNOntology/MQTT4SSN.owl#>\nPREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\nSELECT ?packet ?type ?id WHERE {\n  ?packet a mqtt:ControlPacket ;\n          a ?type ;\n          mqtt:hasVariableHeader ?variable .\n  ?variable mqtt:hasPacketIdentifier ?id .\n  ?type rdfs:subClassOf* mqtt:ControlPacket .\n  FILTER( STRSTARTS(STR(?type), STR(mqtt:)) )\n  FILTER( ?type != mqtt:ControlPacket )\n}`;\nmsg.method = \"POST\";\nmsg.url = `${graphdbBase}/repositories/${repo}`;\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Accept\": \"application/sparql-results+json\"\n};\nmsg.payload = \"query=\" + encodeURIComponent(query);\nmsg.meta = {\n    title: \"Packet identifier traceability\",\n    scenario: \"Usage Scenario: Malformed Packets / Transport Diagnostics\",\n    description: \"Makes correlation of requests, acknowledgements and retries easier by exposing packet identifiers across control packet types.\",\n    columns: [\"packet\", \"type\", \"id\"],\n    countKey: \"type\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 740,
        "wires": [
            [
                "http_40f68e12"
            ]
        ]
    },
    {
        "id": "uibtn_91c2cff0",
        "type": "ui-button",
        "z": "da70bb24b2881dca",
        "group": "group_098ddc74",
        "name": "",
        "label": "Load packet structure",
        "order": 5,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-file-tree",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 800,
        "wires": [
            [
                "build_5f0e8f80"
            ]
        ]
    },
    {
        "id": "build_5f0e8f80",
        "type": "function",
        "z": "da70bb24b2881dca",
        "name": "Build Control packet structure query",
        "func": "const graphdbBase = env.get(\"GRAPHDB_BASE\") || \"http://graphdb:7200\";\nconst repo = env.get(\"GRAPHDB_REPO\") || \"mqtt4ssn\";\nconst query = `PREFIX mqtt: <https://doernern.github.io/MQTT4SSNOntology/MQTT4SSN.owl#>\nPREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\nSELECT ?packet ?type ?fixed ?variable ?payload WHERE {\n  ?packet a mqtt:ControlPacket ;\n          a ?type .\n  OPTIONAL { ?packet mqtt:hasFixedHeader ?fixed }\n  OPTIONAL { ?packet mqtt:hasVariableHeader ?variable }\n  OPTIONAL { ?packet mqtt:hasPayload ?payload }\n  ?type rdfs:subClassOf* mqtt:ControlPacket .\n  FILTER( STRSTARTS(STR(?type), STR(mqtt:)) )\n  FILTER( ?type != mqtt:ControlPacket )\n}`;\nmsg.method = \"POST\";\nmsg.url = `${graphdbBase}/repositories/${repo}`;\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Accept\": \"application/sparql-results+json\"\n};\nmsg.payload = \"query=\" + encodeURIComponent(query);\nmsg.meta = {\n    title: \"Control packet structure\",\n    scenario: \"Usage Scenario: Malformed Packets / Transport Diagnostics\",\n    description: \"Shows fixed headers, variable headers and payload presence as a practical proxy for malformed-packet investigation when explicit error events are absent.\",\n    columns: [\"packet\", \"type\", \"fixed\", \"variable\", \"payload\"],\n    countKey: \"type\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 800,
        "wires": [
            [
                "http_40f68e12"
            ]
        ]
    }
]